:host
  position: fixed
  display: block
  max-height: calc(100vh - 15.35714285714rem)
  overflow: auto
  width: 25.16071428571rem

  div.container-card
    img
      max-width: 80%
      max-height: 250px
      margin: 25px auto
    
    label
      font-size: 1.2rem
      font-weight: bold
    span
      font-size: 1.2rem