<mat-card>
  <mat-card-header>
    <h5>Liquidaciones </h5>
  </mat-card-header>
  <mat-card-content>

    <div class="table-header">
      <app-filters (filtersEmitter)="applyFilters($event)"></app-filters>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="liquidations" matSort (matSortChange)="getSort($event)" >

        <!-- Nombre Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre  </th>
          <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>
        
        <!-- Period Column -->
        <ng-container matColumnDef="period">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Período  </th>
          <td mat-cell *matCellDef="let element"> {{element.dateTo | dateMoment:"MMMM":"YYYY-MM-DD" | titlecase }} </td>
          <!-- <td mat-cell *matCellDef="let element"> Desde: {{element.dateFrom | dateMoment:"DD [de] MMMM YYYY":"YYYY-MM-DD" }} - Hasta: {{element.dateTo | dateMoment:"DD [de] MMMM YYYY":"YYYY-MM-DD" }} </td> -->
        </ng-container>
        
        <!-- From / To Column -->
        <ng-container matColumnDef="FromTo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Desde - Hasta  </th>
          <td mat-cell *matCellDef="let element"> {{element.dateFrom | dateMoment:"DD/MM/YYYY":"YYYY-MM-DD" }} - {{element.dateTo | dateMoment:"DD/MM/YYYY":"YYYY-MM-DD" }} </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="action-col-th"> Acción </th>
          <td mat-cell *matCellDef="let element" class="action-col">
            <div style="display:flex; align-items: center; justify-content: center;" *ngIf="!isDeleted[element._id]">
              
              <a mat-stroked-button class="btn btn-sm btn-secondary ml-1 mr-1" 
                 [routerLink]="['/dashboard/liquidacion', element._id]" 
                 *appCan="['liquidation', 'read']"
                 ngbTooltip="Ver">
                <fa-icon [icon]="faEye"></fa-icon>
              </a>
              
              <ng-container *ngIf="element.status === 'IN_PROCESS'">
                <a mat-stroked-button class="btn btn-sm btn-warning ml-1 mr-1" 
                   [routerLink]="['/dashboard/liquidacion/editar', element._id]" 
                   *appCan="['liquidation', 'update']"
                   ngbTooltip="Editar">
                  <fa-icon [icon]="faPen"></fa-icon>
                </a>
              </ng-container>

              <ng-container *appCan="['liquidation', 'delete']">

                <button mat-stroked-button class="btn btn-sm btn-danger" 
                        (click)="openDialog(element)" 
                        *ngIf="element.status === 'IN_PROCESS' && !isDeleting[element._id]"
                        ngbTooltip="Eliminar">
                  <fa-icon [icon]="faTrashAlt"></fa-icon>
                </button>
              </ng-container>
              <mat-spinner diameter="25" *ngIf="isDeleting[element._id]"></mat-spinner>
            </div>
            <!-- <div *ngIf="isDeleted[element._id]">
              <mat-icon class="text-danger" #tooltip="matTooltip" matTooltip="{{message[element._id]}}" matTooltipPosition="above">error</mat-icon>
            </div> -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator #paginator
                  [length]="length"
                  [pageIndex]="pageIndex"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="[10, 25, 50, 100]"
                  (page)="pageEvent = getPaginationData($event)"
                  showFirstLastButtons>
    </mat-paginator>
  </mat-card-footer>
</mat-card>
