<mat-card>

  <h5 class="title-card">Novedades </h5>
  <mat-card-content>
    
    <form [formGroup]="newsForm">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">

            <mat-form-field appearance="fill">
              <mat-label>Concepto</mat-label>
              <mat-select formControlName="concept" required>
                <mat-option *ngFor="let concept of concepts" [value]="concept">
                  {{concept.name}}
                </mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->
            </mat-form-field>
            
            <mat-form-field appearance="fill">
              <mat-label>Observaciones</mat-label>
              <textarea matInput formControlName="observation" placeholder="Observaciones"></textarea>
              
            </mat-form-field>
          </div>
          <div class="col-6">
            <app-date-selection (selectedDatesEvent)="setDates($event)" 
                                [conceptKey]="newsForm.get('concept').value.key" 
                                [fromDateStored]="newsForm.get('dateFrom')" 
                                [toDateStored]="newsForm.get('dateTo')">
            </app-date-selection>
          </div>
        </div>
      </div>
    </form>
    
  </mat-card-content>

  <div class="form-card pb-0 d-flex align-items-center justify-content-end">
    <a mat-stroked-button class="bg-light mr-2" [routerLink]="['/dashboard/novedades']" *ngIf="!isLoading" (click)="isLoading = !isLoading">Volver</a>
    <button mat-stroked-button form="ngForm" class="bg-success text-white" *ngIf="!isLoading">Guardar</button>
    <fa-icon [icon]="faSpinner" [spin]="true" size="2x" *ngIf="isLoading"></fa-icon>
  </div>

</mat-card>