<mat-card *ngIf="objective?._id">
  <mat-card-header>
    <mat-card-title>{{ objective.name }} </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <h3>Dirección:</h3>
    <div class="d-flex">
      <div class="da-address-street">
        <label for="">
          Calle:
        </label>
        <p>{{ objective.address.street }}</p>
      </div>

      <div class="da-address-city">
        <label for="">
          Ciudad:
        </label>
        <p>{{ objective.address.city }}</p>
      </div>
    </div>

    <h3>Tipo de servicios:</h3>
    <div class="d-flex">
      <div>
        <div for="">Servicio</div>
        <div for="">Horas</div>
      </div>
      <div *ngFor="let stype of objective.serviceType">
        <p>{{ stype.name }}</p>
        <p>{{ stype.hours }}</p>
      </div>
    </div>
    <h3>Descripción:</h3>
    <div class="da-description">

      <p>{{ objective.description }}</p>
    </div>
  </mat-card-content>

  <mat-card-actions class="form-card">
    <button mat-stroked-button (click)="closeShow()">Volver</button>
  </mat-card-actions>
</mat-card>
