<div class="employees-selection-container pb-2">
  <div class="d-flex justify-content-between align-items-center">
    <mat-form-field class="example-form-field">
      <mat-label>Filtrar por nombre</mat-label>
      <input matInput type="text" [(ngModel)]="value" (keyup)="applyFilterEvent($event)">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Limpiar" (click)="clearFilter(); $event.stopPropagation()">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </mat-form-field>

    <div>
      Seleccionados: {{ selectedEmployees.length }}
    </div>
  </div>

  <div class="list-container">
    <mat-selection-list #employees (selectionChange)="selectionChangeHandler($event)">
      <mat-list-option *ngFor="let employee of allEmployees; trackBy:trackByEmpId"  [value]="employee" [style.display]="notMatchEmployeeList.includes(employee._id) ? 'none' : 'block'">
        {{ employee.profile.firstName }} {{ employee.profile.lastName }}
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>

