<mat-card>
  <mat-card-header>
    <h5>{{isEdit ? 'Editar objetivo' : 'Nuevo objetivo'}} </h5>
  </mat-card-header>

  <mat-card-content>

    <form [formGroup]="objectiveForm">
      <div class="d-flex">
        <div class="w-50">
          <div class="d-flex w-100">
            <mat-form-field appearance="fill" class="flex-fill p-2">
              <mat-label>Usuario</mat-label>
              <input  matInput formControlName="identifier" autocomplete="off" required>

              <mat-error *ngIf="isInValid('identifier')">
                Usuario es requerida
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-50 p-2">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name" required>

              <mat-error *ngIf="isInValid('name')">
                Debe ingresar el nombre del objetivo
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-50 p-2">
              <mat-label>Descripción</mat-label>
              <input matInput formControlName="description">
            </mat-form-field>
          </div>

          <div class="address-form">
            <h3>Dirección</h3>
            <div class="d-flex" formGroupName="address">
              <mat-form-field appearance="fill" class="flex-fill p-2">
                <mat-label>Ciudad</mat-label>
                <input matInput placeholder="San Martin de los Andes" formControlName="city" required>
                <mat-error *ngIf="isInValidAddress('city')">
                  El campo ciudad es requerido
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="flex-fill p-2">
                <mat-label>Código postal</mat-label>
                <input matInput placeholder="8370" formControlName="zip" required>
                <mat-error *ngIf="isInValidAddress('zip')">
                  El campo código postal es requerido
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="flex-fill p-2">
                <mat-label>Calle</mat-label>
                <input matInput placeholder="Los Álamos 5545" formControlName="street" required>
                <mat-error *ngIf="isInValidAddress('street')">
                  El campo calle es requerido
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <h3>Servicios</h3>
          <div class="d-flex w-100">
            <div formArrayName="serviceType" class="w-100">

              <div *ngFor="let service of servicesTypeForms.controls; let i = index" [formGroupName]="i" class="d-flex align-items-center w-100 service-group pr-2">
                <div class="w-100">
                  <mat-form-field appearance="fill" class="w-50 p-2">
                    <mat-label>Tipo de servicio</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="service.get('name').errors?.required">
                      Debe ingresar el tipo de servicio
                    </mat-error>
                  </mat-form-field>


                  <mat-form-field appearance="fill" class="w-50 p-2">
                    <mat-label>Horas</mat-label>
                    <input matInput placeholder="24" formControlName="hours" required>
                    <mat-error *ngIf="service.get('hours').errors?.required">
                      Debe ingresar la cantidad de horas que requiere el servicio
                    </mat-error>
                  </mat-form-field>
                </div>
                <button mat-stroked-button class="bg-danger text-white" (click)="deleteService(i)" type="button" #tooltip="matTooltip" matTooltip="Quitar">
                  <fa-icon [icon]="faTrashAlt"></fa-icon>
                </button>
              </div>
              <div [formGroup]="servicesType" class="d-flex align-items-center w-100 service-group pr-2">
                <div class="w-100">
                  <mat-form-field appearance="fill" class="w-50 p-2">
                    <mat-label>Tipo de servicio</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="isInValidService('name')">
                      Debe ingresar el tipo de servicio
                    </mat-error>
                  </mat-form-field>


                  <mat-form-field appearance="fill" class="w-50 p-2">
                    <mat-label>Horas</mat-label>
                    <input matInput placeholder="24" formControlName="hours" required>
                    <mat-error *ngIf="isInValidService('hours')">
                      Debe ingresar la cantidad de horas que requiere el servicio
                    </mat-error>
                  </mat-form-field>
                </div>
                <button mat-stroked-button class="btn btn-primary" (click)="addService()" type="button" #tooltip="matTooltip" matTooltip="Agregar servicio">
                  <fa-icon [icon]="faTasks"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="w-50">
          <div class="text-center w-100">
            <img [src]="objectiveForm.get('avatar').value">
          </div>
          <div class="w-100">
            <mat-form-field appearance="fill" class="w-100 p-2">
              <mat-label>Avatar</mat-label>
              <input matInput formControlName="avatar">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="w-100 mw-100">
        <h3>Horarios predefinidos</h3>
        
        <div formArrayName="defaultSchedules" class="w-100">

          <div *ngFor="let schedule of defaultSchedulesForms.controls; let i = index" [formGroupName]="i" class="d-flex align-items-center w-100 service-group pr-2">
            <div class="d-flex w-100 align-items-center">
              <div formGroupName="fromTime" class="d-flex w-25 align-items-center">
                <mat-label class="w-25">Desde:</mat-label>
                
                <div class="d-flex w-75 align-items-center">
                  <mat-form-field appearance="fill" class="w-50 p-2">
                    <mat-label>HH</mat-label>
                    <input matInput formControlName="hour" required autocomplete="off" type="number" min="0" max="23">
                    <mat-error *ngIf="schedule.get('fromTime').get('hour').errors?.required">
                      Debe ingresar un horario válido
                    </mat-error>
                  </mat-form-field>
                  
                  <mat-form-field appearance="fill" class="w-50 p-2">
                    <mat-label>MM</mat-label>
                    <input matInput formControlName="minute" required autocomplete="off" type="number" min="0" max="59">                      
                    <mat-error *ngIf="schedule.get('fromTime').get('minute').errors?.required">
                      Debe ingresar un horario válido
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div formGroupName="toTime" class="d-flex w-25 align-items-center">
                <mat-label class="w-25">Hasta:</mat-label>
                
                <div class="d-flex w-75 align-items-center">
                  <mat-form-field appearance="fill" class="w-50 p-2">
                    <mat-label>HH</mat-label>
                    <input matInput formControlName="hour" required autocomplete="off" type="number" min="0" max="23">
                    <mat-error *ngIf="schedule.get('toTime').get('hour').errors?.required">
                      Debe ingresar un horario válido
                    </mat-error>
                  </mat-form-field>
                  
                  <mat-form-field appearance="fill" class="w-50 p-2">
                    <mat-label>MM</mat-label>
                    <input matInput formControlName="minute" required autocomplete="off" type="number" min="0" max="59">                      
                    <mat-error *ngIf="schedule.get('toTime').get('minute').errors?.required">
                      Debe ingresar un horario válido
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>       
              
              <div class="d-flex w-25 align-items-center">
                <mat-form-field appearance="fill" class="w-50 p-2">
                  <mat-label>Color</mat-label>
                  <input matInput [ngxMatColorPicker]="picker" formControlName="color">
                  <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
                  <ngx-mat-color-picker #picker [color]="schedule.get('color').value"></ngx-mat-color-picker>

                  <mat-error *ngIf="schedule.get('color').errors?.required">
                    Debe ingresar un color válido
                  </mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="fill" class="w-50 p-2">
                  <mat-label>Letra</mat-label>
                  <input matInput formControlName="name" required autocomplete="off" type="text">                      
                  <mat-error *ngIf="schedule.get('name').errors?.required">
                    Debe ingresar una Letra válida
                  </mat-error>
                </mat-form-field>
              </div>
              <button mat-stroked-button class="btn btn-outline-danger btn-lg d-flex align-items-center" (click)="deleteSchedule(i)" type="button" #tooltip="matTooltip" matTooltip="Quitar">
                <fa-icon [icon]="faTrashAlt"></fa-icon> 
                <span class="ml-2">Eliminar</span>
              </button>
            </div>
          </div>
        </div>
        <app-schedules (addScheduleEvent)="addSchedule($event)"></app-schedules>
      </div>
    </form>

  </mat-card-content>
  <mat-card-footer>
    <div class="form-card pt-3 pb-0 d-flex align-items-center justify-content-end">
      <app-card-footer-buttons [saveBtn]="true" (submitEvent)="onSubmit()"></app-card-footer-buttons>
    </div>
  </mat-card-footer>
</mat-card>
