<form [formGroup]="signedForm" (ngSubmit)="onSubmitForm()" class="custom-hidden-form h-100 w-100 d-flex align-items-center justify-content-center text-white">
  <input type="text" class="input-hidden" [formControl]="rfid" #rfidInput (focusin)="setGreenColor()" (focusout)="setRedColor()">
  
  <div class="icon-proxim" [ngStyle]="{'color': color}">
    <fa-icon [icon]="faIdCardAlt" *ngIf="!isSubmiting && !isSubmitedSuccess"></fa-icon>
    <fa-icon [icon]="faCircleNotch" *ngIf="isSubmiting && !isSubmitedSuccess" [spin]="true"></fa-icon>
    <fa-icon [icon]="faCheckCircle" *ngIf="!isSubmiting && isSubmitedSuccess"></fa-icon>
  </div>

</form>