<ng-container *ngIf="!isSubmiting; else rippleLoad">
<form [formGroup]="signedForm" (ngSubmit)="onSubmitForm()" class="custom-hidden-form h-100 w-100 d-flex align-items-center justify-content-center text-white position-relative">
  <input type="text" class="input-hidden" [formControl]="rfid" #rfidInput (focusin)="setGreenColor()" (focusout)="setRedColor()">
  
  <div class="icon-proxim" [ngStyle]="{'color': color}">
    <fa-icon [icon]="faIdCardAlt" *ngIf="!isSubmiting && !isSubmitedSuccess"></fa-icon>
    <fa-icon [icon]="faCircleNotch" *ngIf="isSubmiting && !isSubmitedSuccess" [spin]="true"></fa-icon>
    <fa-icon [icon]="faCheckCircle" *ngIf="!isSubmiting && isSubmitedSuccess"></fa-icon>
  </div>
  <h3 class="success-text" *ngIf="inFocus">
    Pase la tarjeta.
  </h3>
  
  <div *ngIf="!inFocus" class="out-of-focus-container d-flex">
    <div class="ripple-container">
      <div class="ripple"></div>
      <fa-icon [icon]="faMousePointer"></fa-icon>
    </div>
    <h3 class="info-text"> Click sobre la pantalla, para que escanee. </h3>
  </div>


</form>

<button (click)="onSubmitForm()" class="position-absolute">
  enviar
</button>
</ng-container>

<ng-template #rippleLoad>
  <div class="load-container">
    <ng-container *ngIf="!showMsg; else message">
      <div class="ripple"></div>
    </ng-container>
  </div>
</ng-template>

<ng-template #message>
  <div [class.text-danger-cm]="textDange" [class.text-success-cm]="!textDange">{{ msg }}</div>
</ng-template>
