@import 'styles/_variables'

footer
  height: $footer-height
  bottom: 0
  left: 0
  width: 100%
  position: fixed
  padding: 0 20px
  span
    color: #ffffff
    img
      height: $footer-logo-height
    
  // @media (min-width: $xx-larger-devices) and (max-width: $xxx-larger-devices)

  // @media (min-width: $x-larger-devices) and (max-width: $xx-larger-devices)
  //   position: fixed

  // @media (min-width: $larger-devices) and (max-width: $x-larger-devices)
  //   position: fixed
