<mat-card>
  <mat-card-header>
    <h5>Movimientos</h5>
  </mat-card-header>
  <mat-card-content>

    <div class="table-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar por Usuario / acción / recurso">
      </mat-form-field>
      <mat-spinner diameter="30" *ngIf="isLoading"></mat-spinner>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="movements" matSort (matSortChange)="getSort($event)">

        <!-- User Column -->
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario  </th>
          <td mat-cell *matCellDef="let element"> {{element.user.profile.firstName | titlecase}} {{element.user.profile.lastName | titlecase}} </td>
        </ng-container>
        
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Acción </th>
          <td mat-cell *matCellDef="let element"> {{element.action }} </td>
        </ng-container>
        
        <!-- Resouce Column -->
        <ng-container matColumnDef="resource">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Recurso </th>
          <td mat-cell *matCellDef="let element"> {{element.resource }} </td>
        </ng-container>
        
        <!-- Target Column -->
        <ng-container matColumnDef="target">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.target}}</td>
        </ng-container>
        
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt | date:"M/d/yy, h:mm a" }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator #paginator
                  [length]="length"
                  [pageIndex]="pageIndex"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="[10, 25, 50, 100]"
                  (page)="pageEvent = getPaginationData($event)"
                  showFirstLastButtons>
    </mat-paginator>
  </mat-card-footer>

</mat-card>
