<div class="d-flex align-items-center justify-content-between">

  <h5 class="mr-5"> {{ data.employeeEvent.employee.lastName }} {{ data.employeeEvent.employee.firstName }}</h5>
  <h5>{{ data.employeeEvent.events[0].fromDatetime | date:"EEEE d, y" }}</h5>
</div>

<mat-dialog-content>
  <div class="d-flex">
    <div class="avatar-cotainer mr-2">
      <app-load-ring [shift]="data.employeeEvent" [circuleDimRem]="circuleDimRem">
        <img [src]="data.employeeEvent.employee.avatar" alt="" *ngIf="data.employeeEvent.employee.avatar">
        <div *ngIf="!data.employeeEvent.employee.avatar" class="initials-name">
          {{ data.employeeEvent.employee.lastName | firstLetter }} {{ data.employeeEvent.employee.firstName | firstLetter }}
        </div>
      </app-load-ring>

    </div>
    <div *ngFor="let event of events; let eIndex = index" class="ml-2 mr-2">

      <ng-container>
        <div class="mb-2 event-schedule-container">
       
          <h3 class="mb-0">Horario {{eIndex + 1}}</h3>
          <p>Agendado: {{ event.fromDatetime | date:"HH:mm" }}hs. - {{ event.toDatetime | date:"HH:mm" }}hs.</p> 

          <div class="d-flex align-items-center w-100 mb-3">
            <p class="w-25 mt-3 mb-0">Fichado ingreso: </p>

            <div class="d-flex align-items-end flex-fill w-75">
              <ngb-timepicker [(ngModel)]="eventsValue[eIndex].checkin.time" [spinners]="spinners" [disabled]="eventsValue[eIndex].checkin.edit"></ngb-timepicker>
              <mat-form-field class="ml-2 example-full-width w-100">
                <mat-label>Descripción ingreso</mat-label>
                <textarea matInput rows="1" [(ngModel)]="eventsValue[eIndex].checkinDescription" [disabled]="eventsValue[eIndex].checkin.edit"></textarea>
              </mat-form-field>

              <button mat-stroked-button class="btn btn-sm btn-warning ml-2" *ngIf="eventsValue[eIndex].checkin.edit" (click)="enableCheckinEdition(eIndex)">
                <fa-icon [icon]="faPen"></fa-icon>
              </button>

              <button mat-stroked-button class="btn btn-sm btn-success ml-2" *ngIf="!eventsValue[eIndex].checkin.edit" (click)="setCheckin(eIndex)">
                <fa-icon [icon]="faCheck"></fa-icon>
              </button>
            </div>
          </div>
          
          <div class="d-flex align-items-center w-100">
            <p class="w-25 mt-3 mb-0">Fichado egreso: </p>

            <div class="d-flex align-items-end flex-fill w-75">
              <ngb-timepicker [(ngModel)]="eventsValue[eIndex].checkout.time" [spinners]="spinners" [disabled]="eventsValue[eIndex].checkout.edit"></ngb-timepicker>
              <mat-form-field class="ml-2 example-full-width w-100">
                <mat-label>Descripción egrso</mat-label>
                <textarea matInput rows="1" [(ngModel)]="eventsValue[eIndex].checkoutDescription" [disabled]="eventsValue[eIndex].checkout.edit"></textarea>
              </mat-form-field>

              <button mat-stroked-button class="btn btn-sm btn-warning ml-2" *ngIf="eventsValue[eIndex].checkout.edit" (click)="enableCheckoutEdition(eIndex)">
                <fa-icon [icon]="faPen"></fa-icon>
              </button>

              <button mat-stroked-button class="btn btn-sm btn-success ml-2" *ngIf="!eventsValue[eIndex].checkout.edit" (click)="setCheckout(eIndex)">
                <fa-icon [icon]="faCheck"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="confirm-dialog d-flex w-100 justify-content-end">
  <button class="mat-raised-button" (click)="close()">Cancelar</button>
  <button class="mat-raised-button bg-success text-white ml-2" (click)="confirm()">Guardar</button>
</mat-dialog-actions>
