<div class="day-events" [@expandEventsDate]="statusClass">
    <div *ngFor="let shift of shifts; let sIndex = index">
      <div class="d-flex align-items-center reference-click" (click)="openDialog(sIndex)">

        <div class="employee-indicator">
          <img [src]="shift.employee.avatar" alt="">
        </div>
        <h5 class="ml-2 mb-0">{{ shift.employee.lastName }} {{ shift.employee.firstName }}</h5>
      </div>

      <div *ngIf="shift.events" class="">
        <div *ngFor="let event of shift.events">
          <div class="checkin">
            Ingreso: {{ event.fromDatetime | date:"HH:mm" }} 
            <fa-icon [icon]="faCheckCircle" *ngIf="event.checkin"></fa-icon> 
          </div>
          <div class="checkout">
            Egreso: {{ event.toDatetime | date:"HH:mm" }}
            <fa-icon [icon]="faCheckCircle" *ngIf="event.checkout"></fa-icon> 
          </div>
        </div>
      </div>
    </div>
</div>
