
    <div class="d-flex w-100">
      <div class="w-50">
        <div *ngIf="invalidSelection">
          {{ invalidSelection }}
        </div>


        <ngb-datepicker #dp 
          (dateSelect)="onDateSelection($event)" 
          [displayMonths]="2" 
          [dayTemplate]="t" 
          outsideDays="hidden" 
          [startDate]="initCalendar" class="custom-datepicker-style w-100">
        </ngb-datepicker>

        <ng-template #t let-date let-focused="focused">
          <span class="custom-day"
            [class.focused]="focused"
            [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>
      </div>

      <div class="w-50">
        <ng-container *ngIf="objective">
          Objectivo seleccionado: {{ objective.name }}
          <div>
            Últimos periodos:
            <div *ngFor="let period of periods" class="d-flex justify-content-between">
              <span>
                {{ period.fromDate | date:"d 'de' MMMM yyyy"}} | {{ period.toDate | date:"d 'de' MMMM yyyy"}}
              </span>
              <button mat-stroked-button class="btn btn-sm">
                <fa-icon [icon]="faEye"></fa-icon>
              </button>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!objective">
          No ha seleccionado objectivo
        </ng-container>
      </div>
    </div>


    <div class="action-stepper">
      <button mat-stroked-button (click)="previousStep()" class="btn btn-ligth mr-2">Atrás</button>
      <button mat-stroked-button (click)="submitPeriodForm()" class="btn btn-success" *ngIf="!isLoading">
        Guardar y Seguir
      </button>
      <fa-icon [icon]="faSpinner" [spin]="true" size="2x" *ngIf="isLoading"></fa-icon>
    </div>
