<mat-card>
  <mat-card-header>
    <mat-card-title>{{ user.profile.firstName | titlecase }} {{ user.profile.lastName | titlecase }} </mat-card-title>
  </mat-card-header>

  <mat-card-content style="padding: 0 15px;">
    <div class="row">
      <div class="col-4 border-right">
        <div class="w-100 text-center">
          <img *ngIf="user.profile.avatar" [src]="user.profile.avatar" alt="{{user.profile.firstName}}">
          <fa-icon *ngIf="!user.profile.avatar" [icon]="faUserCircle" class="fa-10x mb-3"></fa-icon>
        </div>
        <div>
          <label class="font-weight-bold">
            Usuario:
          </label> 
          {{user.username}}
        </div>
        <div>
          <label class="font-weight-bold">
            Nombre y Apellido:
          </label>
          {{user.profile.firstName | titlecase}} {{user.profile.lastName | titlecase}}
        </div>
        
        <div>
          <label class="font-weight-bold">
            DNI:
          </label>
          {{user.profile.dni}}
        </div>
        
        <div>
          <label class="font-weight-bold">
            Email:
          </label>
          {{user.email}}
        </div>
      </div>
      <div class="col-8">
        <h3>Permisos asignados</h3>
        <section class="example-section" *ngFor="let role of roles; let i = index">
          <div class="row border-bottom mb-2">
            <div class="col-2 border-right text-right">

              <span class="example-list-section">
                <mat-checkbox class="example-margin"
                  [color]="allComplete[i] ? 'primary' : 'accent'"
                  [checked]="allComplete[i]"
                  [indeterminate]="someComplete(role, i)"
                  (change)="setAll($event.checked, role, i)">
                  {{role.nameDisplay}}
                </mat-checkbox>
              </span>
            </div>
            <div class="col-10">

              <span class="example-list-section">
                <ul class="actions-list p-0">
                  <li *ngFor="let action of role.actions; let actionIndex = index">
                    <mat-checkbox [(ngModel)]="action.completed" (change)="updateAllComplete(role, i, actionIndex)">
                      <div ngbPopover="{{action.observation}}" triggers="mouseenter:mouseleave" placement="bottom">
                        {{action.nameDisplay}}
                        <fa-icon [icon]="faInfoCircle" *ngIf="!!action.observation"></fa-icon>
                      </div>
                    </mat-checkbox>
                  </li>
                </ul>
              </span>
            </div>
          </div>
        </section>
      </div>
    </div>

  </mat-card-content>

  <mat-card-actions class="form-card">
    <div class="form-card pt-3 pb-0 d-flex align-items-center justify-content-end">
      <ng-container *ngIf="!isLoading">
        
        <a mat-stroked-button class="btn btn-light mr-1" [routerLink]="['/dashboard/usuarios']"  (click)="isLoading = !isLoading">Volver</a>
        <a mat-stroked-button class="btn btn-warning mr-1" [routerLink]="['/dashboard/usuarios/editar', user._id]" *appCan="['user', 'update']" (click)="isLoading = !isLoading">
          <fa-icon [icon]="faPen"></fa-icon> Editar
        </a>
        <button mat-stroked-button class="btn btn-success" *appCan="['user', 'permission']" (click)="submitForm()">
          <fa-icon [icon]="faSave"></fa-icon> Actualizar permisos
        </button>
      </ng-container>
      
      <fa-icon [icon]="faSpinner" [spin]="true" size="2x" *ngIf="isLoading"></fa-icon>
    </div>    

  </mat-card-actions>
</mat-card>
