<mat-card>
  <mat-card-header>
    <h5>Liquidación de {{ employeeLiq.employee.lastName }} {{ employeeLiq.employee.firstName}} desde el {{ liquidation.dateFrom | dateMoment:"DD [de] MMMM [de] YYYY" }} hasta el {{ liquidation.dateTo | dateMoment:"DD [de] MMMM [de] YYYY" }}</h5>
  </mat-card-header>
  <mat-card-content style="padding: 0 15px;">
    <div class="row">
      <div class="col-9 border-right">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Horas Trabajadas</a>
            <ng-template ngbNavContent>
              <!-- <h3 class="border-bottom">Horas Trabajadas</h3> -->
              <div class="row border-bottom mb-4">
                <div class="h5">
                  <div class="mb-2">
                    <span class="font-weight-bold">Total feriados: </span> <span class="badge badge-warning">{{ employeeLiq.total_feriado_in_hours }}hs.</span>
                  </div>
                  <div class="mb-2">
                    <span class="font-weight-bold">Total horas extras:  </span> <span class="badge badge-danger">{{ employeeLiq.total_extra_in_hours }}hs.</span>
                  </div>
                  <div class="mb-2">
                    <span class="font-weight-bold">Total horas diurnas: </span> <span class="badge badge-info">{{employeeLiq.total_day_in_hours}}hs.</span> 
                    <span class="font-weight-bold ml-4">Total horas nocturnas: </span> <span class="badge badge-info">{{employeeLiq.total_night_in_hours}}hs.</span>
                    <span class="font-weight-bold ml-4">Total horas: </span> <span class="badge badge-success">{{ employeeLiq.total_in_hours }}hs.</span>
                  </div>
                </div>
                <app-hours-table [weeks]="employeeLiq.total_hours_work_by_week"></app-hours-table>
              </div><!-- ./row -->
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Novedades</a>
            <ng-template ngbNavContent>

              <div class="row mb-4">
                <div class="col-12">
                  <span class="h5">Total viáticos: <span class="badge badge-info">{{ employeeLiq.total_viaticos }}</span></span>
                  <span class="h5 ml-4">Presentismo: <span class="badge badge-info">{{ employeeLiq.presentismo}}%</span></span>
                </div>
              </div>
              <div class="row border-bottom mb-4">
                <div class="col-12">
                  <app-news-list [news]="employeeLiq.feriados" [totalHoursWorked]="employeeLiq.total_feriado_in_hours" *ngIf="employeeLiq.feriados.length">
                    Feriados
                  </app-news-list>
                </div>

                <div class="col-12">
                  <app-news-list [news]="employeeLiq.lic_justificadas" [totalHoursShouldBeWork]="employeeLiq.total_lic_justificada_in_hours" [workingDays]="employeeLiq.total_lic_jus_by_working_day" *ngIf="employeeLiq.lic_justificadas.length">
                    Licencias justificadas
                  </app-news-list>
                </div>
                                  
                <div class="col-12">
                  <app-news-list [news]="employeeLiq.lic_no_justificadas" [totalHoursShouldBeWork]="employeeLiq.total_lic_no_justificada_in_hours" [workingDays]="employeeLiq.total_lic_no_jus_by_working_day" *ngIf="employeeLiq.lic_no_justificadas.length">
                    Licencias no justificadas
                  </app-news-list>
                </div>
                
                <div class="col-12">
                  <app-news-list [news]="employeeLiq.arts" [totalHoursShouldBeWork]="employeeLiq.total_art_in_hours" [workingDays]="employeeLiq.total_art_by_working_day" *ngIf="employeeLiq.arts.length">
                    Art
                  </app-news-list>
                </div>
                  
                <div class="col-12">
                  <app-news-list [news]="employeeLiq.suspensiones" [totalHoursShouldBeWork]="employeeLiq.total_suspension_in_hours" [workingDays]="employeeLiq.total_suspension_by_working_day" *ngIf="employeeLiq.suspensiones.length">
                    Suspensión
                  </app-news-list>
                </div>
                
                <div class="col-12">
                  <app-news-list [news]="employeeLiq.capacitaciones" *ngIf="employeeLiq.capacitaciones.length">
                    Capacitaciones
                  </app-news-list>
                </div>
                
                <div class="col-12">
                  <app-news-list [news]="employeeLiq.vacaciones" *ngIf="employeeLiq.vacaciones.length">
                    Vacaciones
                  </app-news-list>
                </div>
                
                <div class="col-12">
                  <app-news-list [news]="employeeLiq.licSinSueldo" *ngIf="employeeLiq.licSinSueldo.length">
                    Licencia sin goce de sueldo
                  </app-news-list>
                </div>
                  
                <div class="col-6">
                  <app-news-list [news]="employeeLiq.adelantos" [importe]="employeeLiq.total_adelanto_import" *ngIf="employeeLiq.adelantos.length">
                    Adelantos
                  </app-news-list>
                </div>
                
                <div class="col-6">
                  <app-news-list [news]="employeeLiq.plus_responsabilidad" [importe]="employeeLiq.total_plus_responsabilidad" *ngIf="employeeLiq.plus_responsabilidad.length">
                    Plus por responsabilidad
                  </app-news-list>
                </div>
                
                <div class="col-6">
                  <app-news-list [news]="employeeLiq.embargos" *ngIf="employeeLiq.embargos.length">
                    Embargos
                  </app-news-list>
                </div>
              </div><!-- ./row -->
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
      <div class="col-3">
        <app-employee-card [employee]="employeeLiq.employee"></app-employee-card>
      </div>
    </div>
  </mat-card-content>

    <div class="form-card pt-3 pb-0 d-flex align-items-center justify-content-end">
      <ng-container *ngIf="!isLoading">
        
        <!-- <a mat-stroked-button class="btn btn-light mr-2" [routerLink]="['/dashboard/empleados']"  (click)="isLoading = !isLoading">Volver</a>
        <a mat-stroked-button class="btn btn-warning" [routerLink]="['/dashboard/empleados/editar', employee._id]" *appCan="['employee', 'update']" (click)="isLoading = !isLoading">
          <fa-icon [icon]="faPen"></fa-icon> Editar
        </a> -->
      </ng-container>
      
      <fa-icon [icon]="faSpinner" [spin]="true" size="2x" *ngIf="isLoading"></fa-icon>
    </div>

</mat-card>
  
<ng-template #nilVal>
  --
</ng-template>