<mat-card>
  <mat-card-header>
    <h5>Liquidación de {{ employeeLiq.employee.lastName }} {{ employeeLiq.employee.firstName}} desde el {{ employeeLiq.dateFrom | dateMoment:"DD [de] MMMM [de] YYYY" }} hasta el {{ employeeLiq.dateTo | dateMoment:"DD [de] MMMM [de] YYYY" }}</h5>
  </mat-card-header>
  <mat-card-content style="padding: 0 15px;">
    <div class="row">
      <div class="col-9 border-right">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Horas Trabajadas</a>
            <ng-template ngbNavContent>
              <!-- <h3 class="border-bottom">Horas Trabajadas</h3> -->
              <div class="row border-bottom mb-4">
                <div class="h5">
                  <div class="mb-2">
                    <span class="font-weight-bold">Total feriados: </span> <span class="badge badge-warning">{{ employeeLiq.total_by_hours.news.feriado }}hs.</span>
                  </div>
                  <div class="mb-2">
                    <span class="font-weight-bold">Total horas extras:  </span> <span class="badge badge-danger">{{ employeeLiq.total_by_hours.signed.extras }}hs.</span>
                  </div>
                  <div class="mb-2">
                    <span class="font-weight-bold">Total horas diurnas: </span> <span class="badge badge-info">{{employeeLiq.total_by_hours.signed.by.day}}hs.</span> 
                    <span class="font-weight-bold ml-4">Total horas nocturnas: </span> <span class="badge badge-info">{{employeeLiq.total_by_hours.signed.by.night}}hs.</span>
                    <span class="font-weight-bold ml-4">Total horas: </span> <span class="badge badge-success">{{ employeeLiq.total_by_hours.signed.total }}hs.</span>
                  </div>
                </div>
                <app-hours-table [weeks]="employeeLiq.total_by_hours.signed.by_week"></app-hours-table>
              </div><!-- ./row -->
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Novedades</a>
            <ng-template ngbNavContent>

              <div class="row mb-4">
                <div class="col-12">
                  <span class="h5">Total viáticos: <span class="badge badge-info">{{ employeeLiq.total_viaticos }}</span></span>
                  <span class="h5 ml-4">Presentismo: <span class="badge badge-info">{{ employeeLiq.total_of_news.presentismo}}%</span></span>
                </div>
              </div>
              <div class="row border-bottom mb-4">
                <div class="col-12">
                  <app-news-list [news]="news.feriados" [totalHoursWorked]="employeeLiq.total_by_hours.news.feriado" *ngIf="news.feriados.length">
                    Feriados
                  </app-news-list>
                </div>

                <div class="col-12">
                  <app-news-list [news]="news.lic_justificadas" [totalHoursShouldBeWork]="employeeLiq.total_by_hours.news.lic_justificada" [workingDays]="employeeLiq.hours_by_working_day.lic_justificadas" *ngIf="news.lic_justificadas.length">
                    Licencias justificadas
                  </app-news-list>
                </div>
                                  
                <div class="col-12">
                  <app-news-list [news]="news.lic_no_justificadas" [totalHoursShouldBeWork]="employeeLiq.total_by_hours.news.lic_no_justificada" [workingDays]="employeeLiq.hours_by_working_day.lic_no_justificas" *ngIf="news.lic_no_justificadas.length">
                    Licencias no justificadas
                  </app-news-list>
                </div>
                
                <div class="col-12">
                  <app-news-list [news]="news.arts" [totalHoursShouldBeWork]="employeeLiq.total_by_hours.news.art" [workingDays]="employeeLiq.hours_by_working_day.art" *ngIf="news.arts.length">
                    Art
                  </app-news-list>
                </div>
                  
                <div class="col-12">
                  <app-news-list [news]="news.suspensiones" [totalHoursShouldBeWork]="employeeLiq.total_by_hours.news.suspension" [workingDays]="employeeLiq.hours_by_working_day.suspension" *ngIf="news.suspensiones.length">
                    Suspensión
                  </app-news-list>
                </div>
                
                <div class="col-12">
                  <app-news-list [news]="news.capacitaciones" *ngIf="news.capacitaciones.length">
                    Capacitaciones
                  </app-news-list>
                </div>
                
                <div class="col-12">
                  <app-news-list [news]="news.vacaciones" *ngIf="news.vacaciones.length">
                    Vacaciones
                  </app-news-list>
                </div>
                
                <div class="col-12">
                  <app-news-list [news]="news.licSinSueldo" *ngIf="news.licSinSueldo.length">
                    Licencia sin goce de sueldo
                  </app-news-list>
                </div>
                  
                <div class="col-6">
                  <app-news-list [news]="news.adelantos" [importe]="employeeLiq.total_of_news.adelanto_import" *ngIf="news.adelantos.length">
                    Adelantos
                  </app-news-list>
                </div>
                
                <div class="col-6">
                  <app-news-list [news]="news.plus_responsabilidad" [importe]="employeeLiq.total_of_news.plus_responsabilidad" *ngIf="news.plus_responsabilidad.length">
                    Plus por responsabilidad
                  </app-news-list>
                </div>
                
                <div class="col-6">
                  <app-news-list [news]="news.embargos" *ngIf="news.embargos.length">
                    Embargos
                  </app-news-list>
                </div>
              </div><!-- ./row -->
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
      <div class="col-3">
        <div class="employee-data">

          <app-employee-card [employee]="employeeLiq.employee"></app-employee-card>
          
          <div *ngIf="signeds; else displaySigneds">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let period of signeds.signed_by_period">
                {{period.objective.name}}
                <ul>                  
                  <li *ngFor="let signed of period.signed">
                    {{signed | dateMoment:"DD/MM/YYYY HH:mm":""}}
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
  </mat-card-content>
  
  <div class="form-card pt-3 pb-0 d-flex align-items-center justify-content-end">
    <ng-container *ngIf="!isLoading">
      
      <!-- <a mat-stroked-button class="btn btn-light mr-2" [routerLink]="['/dashboard/empleados']"  (click)="isLoading = !isLoading">Volver</a>
        <a mat-stroked-button class="btn btn-warning" [routerLink]="['/dashboard/empleados/editar', employee._id]" *appCan="['employee', 'update']" (click)="isLoading = !isLoading">
          <fa-icon [icon]="faPen"></fa-icon> Editar
        </a> -->
      </ng-container>
      
      <fa-icon [icon]="faSpinner" [spin]="true" size="2x" *ngIf="isLoading"></fa-icon>
    </div>
    
  </mat-card>

  <ng-template #displaySigneds>
    <button class="btn btn-success" (click)="getSigneds()">Obtener fichados</button>
  </ng-template>