<mat-toolbar>
  <div class="container-header">
    <div class="logo-container">
      <a mat-button [routerLink]="['/objetivo/home']">
        <img src="assets/img/ptp-logo-lightbg.png" class="icon-navbar">
      </a>
    </div>
    <div class="submenu-nav">
      <router-outlet name="header-top"></router-outlet>
    </div>
    <div class="top-menu">
      <button mat-button [matMenuTriggerFor]="menu" class="profile-button">
        <img [src]="currentUser.avatar" alt="">
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Salir</button>
      </mat-menu>
    </div>

  </div>
</mat-toolbar>
