<mat-toolbar>
  <div class="container-header">
    <div class="logo-container">
      <a mat-button [routerLink]="['/objetivo/home']">
        <img src="assets/img/ptp-logo-lightbg.png" class="icon-navbar">
      </a>
    </div>
    <div class="submenu-nav">
      <router-outlet name="header-top"></router-outlet>
    </div>
    
    <div class="d-flex align-items-center">
      <div class="mr-4">
        {{currentUser.identifier | titlecase}}
      </div>
      <fa-icon [icon]="faMapMarkerAlt" *ngIf="!currentUser.avatar"></fa-icon>
      <img class="objective-img" [src]="currentUser.avatar" alt="" *ngIf="currentUser.avatar">
    </div>
  </div>
</mat-toolbar>
