<!-- <a mat-button class="header-menu-button" [routerLink]="['/dashboard/turnos']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *appCan="['scheudle', 'list']">
  Turnos
</a> -->

<a mat-button class="header-menu-button" [routerLink]="['/dashboard/agendas/crear']" routerLinkActive="active" *appCan="['schedule', 'create']">
  Crear
</a>

<a mat-button class="header-menu-button" [routerLink]="['/dashboard/agendas/templates']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *appCan="['template', 'read']">
  Templates
</a>

<a mat-button class="header-menu-button" [routerLink]="['/dashboard/agendas/templates/crear']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *appCan="['template', 'create']">
  Crear Template
</a>
