<div class="d-flex añign-items-center justify-content-between">

  <h2 mat-dialog-title class="mb-3">
    Empleado
      {{ data.employee.firstName }} {{ data.employee.lastName }}
  </h2>
  <div>

      <!-- Horas asignadas: {{ dateEventHours }}  -->
  </div>
</div>

<mat-dialog-content>
  
  <ng-container *ngFor="let event of otherEvents; let i = index">
    <app-schedule-select [scheduleNumber]="(i+1)" 
                         [periodId]="data.periodId"
                         [employeeId]="data.employee._id"
                         [defaultSchedules]="defaultSchedulesBk" 
                         [event]="event"
                         (eventChange)="eventUpdate($event, i);"
                         (eventDelete)="eventDelete($event, i);"
                         [date]="data.day.date">
    </app-schedule-select>
  </ng-container>

  <ng-container *ngFor="let event of events; let i = index">
    <app-schedule-select [scheduleNumber]="(otherEvents.length + i+1)" 
                         [periodId]="data.periodId"
                         [employeeId]="data.employee._id"
                         [defaultSchedules]="defaultSchedulesBk" 
                         [event]="event"
                         (eventChange)="eventUpdate($event, i);"
                         (eventDelete)="eventDelete($event, i);"
                         [date]="data.day.date">
    </app-schedule-select>
  </ng-container>
  
  

</mat-dialog-content>

<mat-dialog-actions class="confirm-dialog">
  <div class="d-flex w-100">
    <button class="mat-raised-button bg-success text-white" (click)="confirm()">Aceptar</button>
  </div>
</mat-dialog-actions>
