<div class="box-color-indicator box-l" [ngClass]="{'success': successLeft, 'warning': warningLeft, 'danger': dangerLeft}"></div>
<div class="box-color-indicator box-r" [ngClass]="{'success': successRight, 'warning': warningRight, 'danger': dangerRight}"></div>
<ng-container *ngIf="employee.avatar && !showInitials; else intials">
  <img [src]="employee.avatar" alt="" (error)="onError()">
</ng-container>

<ng-template #intials>
  <div class="square">
    {{ employee.lastName | firstLetter }} {{ employee.firstName | firstLetter }}
  </div>
</ng-template>