<mat-card class="h-100">
  <h5 class="title-card">{{ cardTitle }}</h5>

  <mat-card-content>

    <div class="custom-stepper">
      <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step class="mat-step-custom" label="Seleccionar Objetivo" [stepControl]="objectiveForm">
          <!-- Objective Selection -->
          <div class="container-fix-one">
            <div class="container-fix-two">

              <form [formGroup]="objectiveForm">

                <mat-form-field appearance="fill">
                  <mat-label>Seleccionar objetivo</mat-label>
                  <mat-select #objectiveSelection [formControl]="objective" required>
                    <mat-option *ngFor="let option of objectiveList" [value]="option._id">
                      {{option.name}}
                    </mat-option>
                  </mat-select>

                  <mat-error *ngIf="objective.errors?.required">
                    Debe seleccinar un objectivo
                  </mat-error>
                </mat-form-field>
              </form>

              <div class="action-stepper">
                <button
                  mat-stroked-button
                  (click)="validateObjectiveAndNextStep()"
                  class="btn btn-success"
                  *ngIf="!isLoading">
                  Guardar y Seguir
                </button>

                <fa-icon [icon]="faSpinner" [spin]="true" size="2x" *ngIf="isLoading"></fa-icon>
              </div>

            </div>
          </div>
        </mat-step>

        <mat-step class="mat-step-custom" label="Seleccionar Periodo">
          <!-- Period Selection -->
          <div class="container-fix-one">
            <div class="container-fix-two">
              <app-second-step-form 
                [objective]="selectedObjective"
                [periods]="periods"
                (nextStepEvent)="nextStep()"
                (previousStepEvent)="previousStep()"
                (periodEvent)="setPeriod($event)"
                ></app-second-step-form>
            </div>
          </div>
        </mat-step>

        <mat-step class="mat-step-custom" label="Seleccionar Personal">
          <!-- Employees Selection -->
          <div class="container-fix-one">
            <div class="container-fix-two">
              <app-third-step-form
                [shifts]="shifts"
                [period]="period"
                (nextStepEvent)="nextStep()"
                (previousStepEvent)="previousStep()"
                (periodEvent)="setPeriod($event)"></app-third-step-form>
            </div>
          </div>
        </mat-step>
        <mat-step class="mat-step-custom" label="Asignar Turnos">
          <!-- Shifts Asign -->
          <div class="container-fix-one">
            <div class="container-fix-two">
              <app-fourth-step-form 
                [shifts]="shifts" 
                [period]="period" 
                [periodUpdateSelectionError]="periodUpdateSelectionError"
                (savePeriodEvent)="savePeriod($event)" 
                (updatePeriodRangeEvent)="updatePeriodRange($event)"></app-fourth-step-form>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </mat-card-content>
</mat-card>
