<mat-card>
  <h5 class="title-card">
    Planificación período    
  </h5>

  <mat-card-content>

    <div class="w-100">
      <!-- Table header -->
      <div class="d-flex w-100 planning-header"> 
        <div class="employee-list">
          
        </div>
        <div class="weeks-list-container">
          <div class="d-flex weeks-list" [ngStyle]="{left: xAxis}">
            <div class="week-header" *ngFor="let week of weeksHeader">
              <div class="day-header" *ngFor="let day of week">
                {{day | dateMoment:"DD/MM/YYYY":"YYYY-MM-DD"}}
              </div>
            </div>
          </div>
        </div>

      </div>
      
      <div *ngFor="let plan of planning">
        <div class="d-flex w-100"> 
          <app-employee-list [employee]="plan.employee" [totalHs]="plan.totalHs" [weeks]="plan.weeks"></app-employee-list>
          <div class="weeks-list-container">
            <div class="d-flex weeks-list" [ngStyle]="{left: xAxis}">
              <ng-container *ngTemplateOutlet="weeks; context:plan"></ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 text-right">
      <button class="btn btn-secondary" (click)="prevWeek()">Anterior</button>
      <button class="btn btn-secondary" (click)="nextWeek()">Siguiente</button>
    </div>
  </mat-card-content>
  <mat-card-footer>
      <!-- <app-card-footer-buttons [saveBtn]="true" (submitEvent)="onSubmit()"></app-card-footer-buttons> -->
  </mat-card-footer>
</mat-card>


<ng-template #weeks let-weeksEvents="weeks" let-empl="employee" let-totalHsByEmployee="totalHs">
  <app-week *ngFor="let week of weeksEvents" 
            [week]="week.dayEvents" 
            [(weekTotalHs)]="week.totalByWeekHs"
            (totalEventsHsChange)="updateTotalHs(empl)"
            [defaultSchedules]="defaultSchedules" 
            [employee]="empl"></app-week>
</ng-template>


