.employee-list
  width: 27.85rem
  border: 1px solid black
.weeks-list-container
  width: calc(100% - 27.85rem)
  overflow: hidden
  position: relative
  .weeks-list
    position: absolute
    width: 100%
