
.planning-header
  height: calc(20px + 0.4rem)
.employee-list
  width: 27.85rem
  border: 1px solid #e2e2e2

.weeks-list-container
  width: calc(100% - 27.85rem)
  overflow: hidden
  position: relative
  .weeks-list
    position: absolute
    width: 100%
    left: 0
    transition: left .3s ease-out
    .week-header
      display: flex
      width: 100%
      flex: 0 0 100%
      .day-header
        width: calc(100% / 7)
        border: 1px solid #e2e2e2
        text-align: right
        font-weight: bold
        padding: 0.2rem 0.4rem
        box-sizing: border-box
