<mat-card>
  <h5 class="title-card">
    Planificación período    
  </h5>

  <mat-card-content>

    <div class="w-100">
      <!-- Table header -->
      <div class="d-flex w-100 planning-header"> 
        <div class="employee-list">
          
        </div>
        <div class="weeks-list-container">
          <div class="d-flex weeks-list" [ngStyle]="{left: xAxis}">
            <div class="week-header" *ngFor="let week of weeksHeader">
              <div class="day-header" *ngFor="let day of week">
                {{day}}
              </div>
            </div>
          </div>
        </div>

      </div>
      
      <div *ngFor="let plan of planning">
        <div class="d-flex w-100"> 
          <div class="employee-list p-2 d-flex justify-content-between align-items-center">
            <div>
              <span class="employee-title">{{ plan.employee.lastName }} {{ plan.employee.firstName }}</span>
              <div class="d-flex">
                <div class="mt-2 ml-2 mr-2 week-circle" [ngClass]="{'bg-init': (wk.totalByWeekHs == 0), 'bg-perfect': (wk.totalByWeekHs == maxHours), 'bg-incomplete': (wk.totalByWeekHs < maxHours && wk.totalByWeekHs > 0), 'bg-over-complete': (wk.totalByWeekHs > maxHours)}" *ngFor="let wk of plan.weeks">
                  {{wk.totalByWeekHs}}
                </div>
              </div>
            </div>
            <div class="total-hs-indicator">{{plan.totalHs}}</div>  
          </div>
          <div class="weeks-list-container">
            <div class="d-flex weeks-list" [ngStyle]="{left: xAxis}">
              <ng-container *ngTemplateOutlet="weeks; context:plan"></ng-container>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="w-100 text-right">
      <button class="btn btn-secondary" (click)="prevWeek()">Anterior</button>
      <button class="btn btn-secondary" (click)="nextWeek()">Siguiente</button>
    </div>
  </mat-card-content>
  <mat-card-footer>
      <!-- <app-card-footer-buttons [saveBtn]="true" (submitEvent)="onSubmit()"></app-card-footer-buttons> -->
  </mat-card-footer>
</mat-card>


<ng-template #weeks let-weeksEvents="weeks">
  <app-week *ngFor="let week of weeksEvents" [week]="week.dayEvents"></app-week>
</ng-template>


