<mat-card>
  <mat-card-header>
    <h5>
      Planificación {{ period.objective.name }} período: {{ period.fromDate | dateMoment:"DD MMM YYYY":"YYYY-MM-DD" | titlecase}} / {{ period.toDate | dateMoment:"DD MMM YYYY":"YYYY-MM-DD" | titlecase}}
    </h5>
  </mat-card-header>

  <mat-card-content>

    <div class="w-100">
      <!-- Table header -->
      <div class="d-flex w-100 planning-header"> 
        <div class="employee-list">
          
        </div>
        <div class="weeks-list-container">
          <div class="d-flex weeks-list" [ngStyle]="{left: xAxis}">
            <div class="week-header" *ngFor="let week of weeksHeader">
              <div class="day-header" *ngFor="let date of week" [ngClass]="{'is-feriado': !!date.feriado?.concept}">
                {{date.day | dateMoment:"DD/MM":"YYYY-MM-DD"}}
              </div>
            </div>
          </div>
        </div>

      </div>
      
      <div *ngFor="let plan of planning; let i = index">
        <div class="d-flex w-100"> 
          <app-employee-list [employee]="plan.employee" 
                             [periodId]="period._id" 
                             [totalHs]="plan.totalHs" 
                             [weeks]="plan.weeks"
                             (deleteEmployeeEvent)="planning.splice(i, 1);"></app-employee-list>
          <div class="weeks-list-container">
            <div class="d-flex weeks-list" [ngStyle]="{left: xAxis}">
              <ng-container *ngTemplateOutlet="weeks; context:plan"></ng-container>
            </div>
          </div>
        </div>
      </div>
    
      <app-add-employee [period]="period" (addEmployeeEvent)="addWeekEvents($event)"></app-add-employee>
      <div class="d-flex w-100 justify-content-center">
        <button class="btn btn-secondary ml-1 mr-1" (click)="prevWeek()">Anterior</button>
        <button class="btn btn-secondary ml-1 mr-1" (click)="nextWeek()">Siguiente</button>
      </div>
    </div>

  </mat-card-content>
  <mat-card-footer>
    <div class="form-card pt-3 pb-0 d-flex align-items-center justify-content-end">      
      <app-back-button class="ml-1 mr-1"></app-back-button>
    </div>
  </mat-card-footer>
</mat-card>


<ng-template #weeks let-weeksEvents="weeks" let-empl="employee" let-totalHsByEmployee="totalHs">
  <app-week *ngFor="let week of weeksEvents" 
            [week]="week.dayEvents" 
            [(weekTotalHs)]="week.totalByWeekHs"
            (totalEventsHsChange)="updateTotalHs(empl)"
            (planningChange)="updatePlanning($event)"
            [defaultSchedules]="defaultSchedules" 
            [periodId]="period._id" 
            [employee]="empl"></app-week>
</ng-template>


