<mat-card>
  <h5 class="title-card">Liquidación </h5>
  <mat-card-content style="padding: 0 15px;">
    <div class="row h-100">
      <div class="col-6 h-100">
       <app-employee-selection [allEmployees]="employees" [selectedEmployees]="selectedEmployees" (selectedEvent)="setSelectedEmployees($event)"></app-employee-selection>
      </div>

      <div class="col-6">
        <h5>Año: {{ year }}</h5>
        <div class="row">
          <div class="col-3" *ngFor="let month of months; let i = index">
            <button class="btn btn-primary mt-2 mb-2 w-100" (click)="selectRange(i);">
              {{month.month}}
            </button>
          </div>
        </div>
        <hr>
        <div>
          <app-date-selection (selectedDatesEvent)="setDates($event)" 
                              [conceptKey]="'RANGE'" 
                              [fromDateStored]="liquidation?.dateFrom" 
                              [toDateStored]="liquidation?.dateTo"
                              [error]="rangeError">
          </app-date-selection>
        </div>

        <div class="mt-2">
          <button mat-stroked-button class="btn btn-primary" (click)="createOrUpdateLiquidation()" *ngIf="!isLoading">Generar liquidación</button>
          <fa-icon [icon]="faSpinner" [spin]="true" size="2x" *ngIf="isLoading"></fa-icon>
        </div>
        
      </div>
    </div>
  </mat-card-content>
</mat-card>
