<mat-card>
  <h5 class="title-card">{{ liquidation?._id ? 'Editar' : 'Crear' }} liquidación </h5>
  <mat-card-content style="padding: 0 15px;">
    <form [formGroup]="liquidationForm" class="h-100">
      <div class="row h-100">
        <div class="col-6 h-100">
        <app-employee-selection [allEmployees]="employees" [selectedEmployees]="selectedEmployees" (selectedEvent)="setSelectedEmployees($event)" [errorMsg]="employeeErrorMsg"></app-employee-selection>
        </div>

        <div class="col-6">

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <h5>Año: {{ year }}</h5>
          <div class="row">
            <div class="col-3" *ngFor="let month of months; let i = index">
              <button class="btn btn-primary mt-2 mb-2 w-100" (click)="selectRange(i);">
                {{month.month}}
              </button>
            </div>
          </div>
          <hr>
          <div>
            <app-date-selection (selectedDatesEvent)="setDates($event)" 
                                [conceptKey]="'RANGE'" 
                                [fromDateStored]="liquidationForm.get('fromDate').value" 
                                [toDateStored]="liquidationForm.get('toDate').value"
                                [error]="rangeError">
            </app-date-selection>
          </div>
          
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <div class="form-card d-flex align-items-center justify-content-end">      
      <app-back-button class="ml-1 mr-1"></app-back-button>

      <button type="button" class="btn btn-success ml-1 mr-1" (click)="createOrUpdateLiquidation()">
        Guardar
      </button>
    </div>
  </mat-card-footer>
</mat-card>
