.cont-avatar
  border-radius: 50%
  overflow: hidden

  .progress-ring
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 10
    circle
      stroke-width: 4px
      transform-origin: center
      transition: stroke-dasharray .35s
      &.c1
        transform: rotate(90deg)
      &.c2
        transform: rotate(-90deg)
      &.stroke-blue
        stroke: #81d4fa
      &.stroke-green
        stroke: #5ece68
      &.stroke-red      
        stroke: #e04d4d
      &.stroke-orange      
        stroke: #eb9b50
