<div class="week-days" *ngFor="let day of week" (click)="addEvent(day)">
    <div class="row flex-column w-100 h-100 flex-fill m-0 custom-row-planning">
        <ng-container *ngFor="let otEvent of day.otherEvents">
            <!-- <ng-container *ngIf="otEvent"> -->
            <div class="col custom-col-planning" [ngStyle]="{'background-color': otEvent.color?.rgba}">{{ otEvent.name }}</div>
            <!-- </ng-container> -->
        </ng-container>
        <ng-container *ngFor="let event of day.events">
            <!-- <ng-container *ngIf="event"> -->
            <div class="col custom-col-planning" [ngStyle]="{'background-color': event.color?.rgba}">{{ event.name }}</div>
            <!-- </ng-container> -->
        </ng-container>
    </div>

    <div *ngFor="let news of day.news">
        <ng-container *ngIf="news">
            <div [ngClass]="{'is-feriado': news.concept.key === 'FERIADO'}">
                {{ news.concept.name }}
            </div>
        </ng-container>
    </div>
</div>