<div class="employees-selection-container pb-2">
  <div class="d-flex justify-content-between align-items-center">
    <mat-form-field class="example-form-field">
      <mat-label>Filtrar por nombre</mat-label>
      <input matInput type="text" [(ngModel)]="value" (keyup)="applyFilterEvent($event)">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Limpiar" (click)="clearFilter(); $event.stopPropagation()">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </mat-form-field>

    <div>
      Seleccionados: {{ employees.selectedOptions.selected.length }}
    </div>
  </div>

  <div class="list-container">
    <mat-selection-list #employees (selectionChange)="selectionChangeHandler($event)">
      <mat-list-option *ngFor="let employee of employeeList; trackBy:trackByEmpId"  [value]="employee" [style.display]="notMatchEmployeeList.includes(employee._id) ? 'none' : 'block'">
        {{ employee.profile.firstName }} {{ employee.profile.lastName }}
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>

<div class="action-stepper">
  <button mat-stroked-button matStepperPrevious class="btn btn-ligth mr-2">Atrás</button>
  <button mat-stroked-button (click)="submitShiftForm()" class="btn btn-success" *ngIf="!isLoading">
    Guardar y Seguir
  </button>
  <fa-icon [icon]="faSpinner" [spin]="true" size="2x" *ngIf="isLoading"></fa-icon>
</div>
