<div class="table-container">
  <div class="table-header">
    <div>Legajo</div>
    <div>Función</div>
    <div>Objetivo</div>
    <div>Dotación</div>
    <div>HS Diurnas</div>
    <div>HS Nocturnas</div>
    <div>Total Horas</div>
    <div>Total Extras</div>
    <div>Viaticos</div>
    <div>Feriados</div>
    <div>Capacitación</div>
    <div>Días Licencia</div>
    <div>Total Licencias</div>
    <div>Licencias Justificadas</div>
    <div>Ausencias no Justificadas</div>
    <div>Suspención</div>
    <div>Adelantos</div>
    <div>Días vaciones</div>
    <div>Lic. por nacimiento</div>
    <div>Plus por responsabilidad</div>
    <div>Presentismo</div>
    <div>Embargo</div>
    <div>Observaciones</div>
  </div>
</div>