@import 'styles/_variables'

:host
  display: block
  height: 100%

  mat-card
    // height: 100%
    // mat-card-content
    //   height: calc(100% - (1.5rem + 1rem))

    .example-container 
      min-height: 400px
      height: calc(100% - 2.57143rem)
      overflow: auto


    .mat-table-sticky 
      background: #59abfd
      opacity: 1


    .example-sticky-toggle-group 
      margin: 8px

    .mat-column-filler 
      padding: 0 8px
      font-size: 10px
      text-align: center

    .mat-cell:first-of-type, .mat-header-cell:first-of-type
      padding: 0!important

    .mat-header-cell
      font-size: 14px
      font-weight: bold
    .mat-cell .badge
      font-size: 13px

    .mat-header-cell, .mat-footer-cell, .mat-cell 
      width: 8.58rem
      box-sizing: border-box
      justify-content: center
      white-space: nowrap
      flex: auto
      &.employee-cell
        width: 25rem

    .mat-header-row, .mat-footer-row, .mat-row 
      min-width: calc(8.58rem * 22 + 25rem)

    .pop-content-body
      img
        height: 50px
        width: 50px
        border-radius: 50%

    .handle-col-by-buttons
      height: 2.57143rem

    .badge-feriado
      background-color: $color-feriado
    .badge-lic-sin-sueldo
      background-color: $color-lic-sin-sueldo
    .badge-vacaciones
      background-color: $color-vacaciones
    .badge-suspension
      background-color: $color-suspension
    .badge-lic-no-justificada
      background-color: $color-lic-no-justificada
    .badge-lic-justificada
      background-color: $color-lic-justificada
    .badge-art
      background-color: $color-art
  
  .active-row
    position: sticky
    z-index: 100
    background-color: #8a5ab9
    .mat-cell
      color: #fff!important
      font-weight: bold