:host
  display: block

  // .table-container
  //   overflow-x: auto
  //   // position: relative
  //   table 
  //     td, th
  //     margin: 0
  //     white-space: nowrap
  //     // border: 1px solid grey
  //     // border-top-width: 0px

  //   table .fixed-col
  //     position: st
  //     width: 5rem
  //     min-height: 3rem
  //     top: auto
  //     border-top-width: 1px
  //     /*only relevant for first row*/
  //     margin-top: -1px
  //     /*compensate for top border*/
  //     &:before
  //       content: ' '
      
  //   table th
  //     white-space: nowrap

.example-container 
  height: 400px
  overflow: auto


.mat-table-sticky 
  background: #59abfd
  opacity: 1


.example-sticky-toggle-group 
  margin: 8px


.mat-column-filler 
  padding: 0 8px
  font-size: 10px
  text-align: center


.mat-header-cell, .mat-footer-cell, .mat-cell 
  min-width: 80px
  box-sizing: border-box


.mat-header-row, .mat-footer-row, .mat-row 
  min-width: 1920px
