<mat-card>

  <h5 class="title-card">Novedades </h5>
  <mat-card-content *ngIf="rendered">
    
    <form [formGroup]="newsForm" id="ngForm" (ngSubmit)="onSubmit()">
      <div class="d-flex">
      
        <div class="w-50 p-1">
          <!-- concept -->
          <mat-form-field appearance="fill" class="w-100 p-1">
            <mat-label>Concepto</mat-label>
            <input type="text"
                    matInput
                    [formControl]="concept"
                    [matAutocomplete]="conceptAuto" required>
            <mat-autocomplete #conceptAuto="matAutocomplete" [displayWith]="displayFnNewsConcept">
              <mat-option *ngFor="let cValue of coneptOptions" [value]="cValue">
                {{cValue.name}}
              </mat-option>
            </mat-autocomplete>

            <mat-error *ngIf="concept.errors?.required">
              Debe seleccionar un concepto válido.
            </mat-error>
          </mat-form-field>

          <!-- Employee -->
          <mat-form-field appearance="fill" class="w-100 p-1" *ngIf="!showFeriado && !showCapacitaciones">
            <mat-label>Empleado</mat-label>
            <input type="text"
                    matInput
                    [formControl]="employee"
                    [matAutocomplete]="employeeAuto" required>
            <mat-autocomplete #employeeAuto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let employeeValue of options" [value]="employeeValue">
                {{employeeValue.profile.lastName}} {{employeeValue.profile.firstName}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="employee.errors?.required">
              Para este concepto debe seleccionar a un empleado.
            </mat-error>
          </mat-form-field>
          
          
          
          <ng-container *ngIf="showCapacitaciones">
            <div class="w-100 p-3 employee-multi-container">            
              <!-- Employees -->
              <div class="d-flex justify-content-between align-items-center" *ngIf="showCapacitaciones">
                <mat-form-field>
                  <mat-label>Filtrar por nombre</mat-label>
                  <input matInput type="text" (keyup)="applyFilterEvent($event)">
                  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Limpiar" (click)="clearFilter(); $event.stopPropagation()">
                    <fa-icon [icon]="faTimes"></fa-icon>
                  </button>
                </mat-form-field>
            
                <div>
                  Seleccionados: {{ selectedEmployees.length }}
                </div>
              </div>
            
              <div class="list-container">
                <mat-selection-list #employeesList (selectionChange)="selectionChangeHandler($event)">
                  <mat-list-option *ngFor="let employeeValue of employees; trackBy:trackByEmpId"  [value]="employeeValue" [style.display]="notMatchEmployeeList.includes(employeeValue._id) ? 'none' : 'block'" [selected]="selectedEmployeesIds.includes(employeeValue._id)">
                    {{employeeValue.profile.lastName}} {{employeeValue.profile.firstName}}
                  </mat-list-option>
                </mat-selection-list>
              </div>

              <mat-error *ngIf="employeeMultiple.errors?.required">
                Para este concepto debe seleccionar almenos un empleado.
              </mat-error>
            </div>

            <div class="w-100">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Horas</mat-label>
                <input matInput type="number" [formControl]="capacitationHours" autocomplete="off" required>

                <mat-error *ngIf="capacitationHours.errors?.required">
                  Para este concepto debe establecer la cantidad de horas.
                </mat-error>
              </mat-form-field>
            </div>            
          </ng-container>

          <!-- Import -->
          <mat-form-field appearance="fill" *ngIf="showImport" class="w-100">
            <mat-label>Importe</mat-label>
            <input matInput type="number" [formControl]="import" class="import-input" autocomplete="off" required>
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
            
            <mat-error *ngIf="import.errors?.required">
              Debe ingresar un importe válido.
            </mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="fill" *ngIf="showReasons" class="w-100">
            <mat-label>Razón</mat-label>
            <mat-select [formControl]="reason" required>
              <mat-option *ngFor="let option of reasonOptions" [value]="option.key">
                {{option.name}}
              </mat-option>
            </mat-select>
            <mat-hint>Indicar la razón de la licencia.</mat-hint>
            <mat-error *ngIf="reason.errors?.required">
              Debe seleccionawr una razón.
            </mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="fill" *ngIf="showLink" class="w-100">
            <mat-label>Adjunar link documento</mat-label>
            <input matInput [formControl]="docLink" placeholder="link">
          </mat-form-field>
          
          <div class="d-flex w-100">            
            <!-- Observation -->
            <mat-form-field appearance="fill" class="w-100 p-1">
              <mat-label>Observaciones:</mat-label>
              <textarea matInput placeholder="Observaciones"  [formControl]="observation"></textarea>
            </mat-form-field>

          </div>
        </div>

        <div class="w-50 p-1">
          <!-- FromDate / ToDate -->
          
          <div class="d-flex w-100">
            <ngb-datepicker #dp 
              (dateSelect)="onDateSelection($event)" 
              [displayMonths]="2" 
              [dayTemplate]="t" 
              outsideDays="hidden" 
              [startDate]="initCalendar" class="custom-datepicker-style w-100">
            </ngb-datepicker>

            <ng-template #t let-date let-focused="focused">
              <span class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
            </ng-template>

          </div>
          <div class="d-flex w-100">
            <mat-error *ngIf="dateFrom.errors?.required && newsForm.invalid && newsForm.touched">
              Debe seleccionar una fecha válida.
            </mat-error>
          </div>
        </div>
      </div>
    </form>
    
  </mat-card-content>

  <div class="form-card pb-0 d-flex align-items-center justify-content-end">
    <a mat-stroked-button class="bg-light mr-2" [routerLink]="['/dashboard/novedades']" *ngIf="!isLoading" (click)="isLoading = !isLoading">Volver</a>
    <button mat-stroked-button form="ngForm" class="bg-success text-white" *ngIf="!isLoading">Guardar</button>
    <fa-icon [icon]="faSpinner" [spin]="true" size="2x" *ngIf="isLoading"></fa-icon>
  </div>

</mat-card>
