<mat-card>
  <mat-card-header>
    <h5>Liquidación de {{ employeeLiq.employee.lastName }} {{ employeeLiq.employee.firstName}} desde el {{ liquidation.dateFrom | dateMoment:"DD [de] MMMM [de] YYYY" }} hasta el {{ liquidation.dateTo | dateMoment:"DD [de] MMMM [de] YYYY" }}</h5>
  </mat-card-header>
  <mat-card-content style="padding: 0 15px;">
    <div class="row">
      <div class="col-9 border-right">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Horas Trabajadas</a>
            <ng-template ngbNavContent>
              <!-- <h3 class="border-bottom">Horas Trabajadas</h3> -->
              <div class="row border-bottom mb-4">
                <app-hours-table [weeks]="employeeLiq.total_hours_work_by_week"></app-hours-table>
              </div><!-- ./row -->
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Novedades</a>
            <ng-template ngbNavContent>
              <h3 class="border-bottom">Datos de empleador</h3>
              <div class="row border-bottom mb-4">
                <app-news-list [news]="employeeLiq.lic_justificadas"></app-news-list>
              </div><!-- ./row -->
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
      <div class="col-3">
        <app-employee-card [employee]="employeeLiq.employee"></app-employee-card>
      </div>
    </div>
  </mat-card-content>

    <div class="form-card pt-3 pb-0 d-flex align-items-center justify-content-end">
      <ng-container *ngIf="!isLoading">
        
        <!-- <a mat-stroked-button class="btn btn-light mr-2" [routerLink]="['/dashboard/empleados']"  (click)="isLoading = !isLoading">Volver</a>
        <a mat-stroked-button class="btn btn-warning" [routerLink]="['/dashboard/empleados/editar', employee._id]" *appCan="['employee', 'update']" (click)="isLoading = !isLoading">
          <fa-icon [icon]="faPen"></fa-icon> Editar
        </a> -->
      </ng-container>
      
      <fa-icon [icon]="faSpinner" [spin]="true" size="2x" *ngIf="isLoading"></fa-icon>
    </div>

</mat-card>
  
<ng-template #nilVal>
  --
</ng-template>