<div class="sidebar-container">
  <div class="sidebar-body">
    <a class="sidebar-link disabled"></a>
    <a class="sidebar-link" [routerLink]="['/dashboard/home']" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </a>
    <a class="sidebar-link" *appCan="['ṕlace']">
      <mat-icon>place</mat-icon>
      <span>Puntos de monitoreo</span>
    </a>
    <a class="sidebar-link" *appCan="['schedule']" [routerLink]="['/dashboard/agendas']" routerLinkActive="active">
      <mat-icon>date_range</mat-icon>
      <span>Agendas</span>
    </a>
    <a class="sidebar-link" *appCan="['employee']" [routerLink]="['/dashboard/empleados']" routerLinkActive="active">
      <mat-icon>people</mat-icon>
      <span>Empleados</span>
    </a>
    <a class="sidebar-link" *appCan="['objective']" [routerLink]="['/dashboard/objetivos']" routerLinkActive="active">
      <mat-icon>place</mat-icon>
      <span>Objetivos</span>
    </a>
  </div>
</div>
