<div class="sidebar-container">
  <div class="sidebar-body">
    <a class="sidebar-link disabled"></a>
    <a class="sidebar-link" [routerLink]="['/dashboard/home']">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </a>
    <a class="sidebar-link" *appCan="['ṕlace']">
      <mat-icon>place</mat-icon>
      <span>Puntos de monitoreo</span>
    </a>
    <a class="sidebar-link" *appCan="['shift']">
      <mat-icon>date_range</mat-icon>
      <span>Turnos</span>
    </a>
    <a class="sidebar-link" *appCan="['employee']" [routerLink]="['/dashboard/empleados']">
      <mat-icon>people</mat-icon>
      <span>Empleados</span>
    </a>

  </div>
</div>
