// my awesome screen sizes!!!!!
$x-small-devices: 320px                  // (smartphones)
$small-devices: 768px                  // (smartphones)
$medium-devices: 992px                 // (medium devices)
$larger-devices: 1200px            // (large devices)
$x-larger-devices: 1440px          // (large devices)
$xx-larger-devices: 1680px         // (large devices)
$xxx-larger-devices: 1920px        // (large devices)

$header-bar-heigth: 64px
$header-bar-heigth-1200: 45px
$footer-height: 35px
$footer-logo-height: 30px
$sidebar-width: 275px
$sidebar-width-1200: 240px

/***********COLORS**************/
$first-color:#4c4c4c
$s-link-bg: #3a416d
$s-link-bg-disabled: #3a416d
$header-color: $first-color

$cal-header-height: 1.65rem
$cal-header-height-show: 4rem

