// my awesome screen sizes!!!!!
$x-small-devices: 320px                  // (smartphones)
$small-devices: 768px                  // (smartphones)
$medium-devices: 992px                 // (medium devices)
$larger-devices: 1200px            // (large devices)
$x-larger-devices: 1440px          // (large devices)
$xx-larger-devices: 1680px         // (large devices)
$xxx-larger-devices: 1920px        // (large devices)

$header-bar-heigth: 64px
$footer-height: 30px
$sidebar-width: 275px

/***********COLORS**************/
$first-color:#4c4c4c
$s-link-bg: rgba(65, 122, 206, .8)
$s-link-bg-disabled: rgba(65, 122, 206, .5)
$header-color: $first-color

$primary-color: #007bff
$success-color: #28a745
$info-color: #17a2b8
$warning-color: #ffc107
$danger-color: #dc3545
$dark-color: #343a40
$light-color: #f8f9fa
