<mat-card>
  <mat-card-header>
    <mat-card-title>{{ user.profile.firstName }} {{ user.profile.lastName }} </mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div class="text-center">
      <img [src]="user.profile.avatar" alt="">
    </div>

    <div class="d-flex">
      <div class="da-enrollment">
        <label for="">
          Usuario:
        </label>
        <p>{{ user.username }}</p>
      </div>

      <div class="da-dni">
        <label for="">
          Email:
        </label>
        <p>{{ user.email }}</p>
      </div>
    </div>

    <div class="d-flex">
      <div class="da-city">
        <label for="">
          Avatar:
        </label>
        <p>{{ user.profile.avatar }}</p>
      </div>

      <div class="da-zip">
        <label for="">
          DNI:
        </label>
        <p>{{ user.profile.dni }}</p>
      </div>

      <div class="da-street">
        <label for="">
          Nombre:
        </label>
        <p>{{ user.profile.firstName }}</p>
      </div>

      <div class="da-street">
        <label for="">
          Apellido:
        </label>
        <p>{{ user.profile.lastName }}</p>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions class="form-card">
    <div class="form-card pt-3 pb-0 d-flex align-items-center justify-content-end">
      <ng-container *ngIf="!isLoading">
        
        <a mat-stroked-button class="btn btn-light mr-2" [routerLink]="['/dashboard/usuarios']"  (click)="isLoading = !isLoading">Volver</a>
        <a mat-stroked-button class="btn btn-warning" [routerLink]="['/dashboard/usuarios/editar', user._id]" *appCan="['user', 'update']" (click)="isLoading = !isLoading">
          <fa-icon [icon]="faPen"></fa-icon> Editar
        </a>
      </ng-container>
      
      <fa-icon [icon]="faSpinner" [spin]="true" size="2x" *ngIf="isLoading"></fa-icon>
    </div>    

  </mat-card-actions>
</mat-card>
