<mat-card *ngIf="employee?._id">
  <mat-card-header>
    <mat-card-title>{{ employee.profile.firstName }} {{ employee.profile.lastName }} </mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div class="text-center mb-2">
      <fa-icon [icon]="faUserCircle" class="fs-15rem avatar-icon" *ngIf="!employee.profile.avatar"></fa-icon>
      <img [src]="employee.profile.avatar" alt="" *ngIf="employee.profile.avatar">
    </div>

    <div class="d-flex">
      <div class="da-enrollment">
        <label for="">
          Legajo:
        </label>
        <p>{{ employee.enrollment }}</p>
      </div>

      <div class="da-dni">
        <label for="">
          Dni:
        </label>
        <p>{{ employee.profile.dni }}</p>
      </div>
    </div>

    <div class="da-email">
      <label for="">
        Email:
      </label>
      <p>{{ employee.contact.email }}</p>
    </div>

    <div class="da-phones">
      <label for="">
        Teléfonos:
      </label>
      <p *ngFor="let phone of employee.contact.phones; let i = index">{{ phone.area }} - {{ phone.line }}</p>
    </div>

    <div class="d-flex">
      <div class="da-city">
        <label for="">
          Calle:
        </label>
        <p>{{ employee.contact.address.street }}</p>
      </div>

      <div class="da-zip">
        <label for="">
          Altura:
        </label>
        <p>{{ employee.contact.address.streetNumber }}</p>
      </div>

      <div class="da-street">
        <label for="">
          Dpto:
        </label>
        <p>{{ employee.contact.address.department }}</p>
      </div>
    </div>
    <div class="d-flex">
      <div class="da-city">
        <label for="">
          Manzana:
        </label>
        <p>{{ employee.contact.address.manz }}</p>
      </div>

      <div class="da-zip">
        <label for="">
          Lote:
        </label>
        <p>{{ employee.contact.address.lote }}</p>
      </div>

      <div class="da-street">
        <label for="">
          Barrio:
        </label>
        <p>{{ employee.contact.address.neighborhood }}</p>
      </div>
    </div>
    <div class="d-flex">
      <div class="da-city">
        <label for="">
          Ciudad:
        </label>
        <p>{{ employee.contact.address.city }}</p>
      </div>

      <div class="da-zip">
        <label for="">
          Código postal:
        </label>
        <p>{{ employee.contact.address.zip }}</p>
      </div>

      <div class="da-street">
        <label for="">
          Calle:
        </label>
        <p>{{ employee.contact.address.province }}</p>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions class="form-card">
    <button mat-stroked-button (click)="closeShow()">Volver</button>
  </mat-card-actions>
</mat-card>
