<h5 mat-dialog-title>Actualizar contraseña</h5>

<mat-dialog-content> 
  <form [formGroup]="passwordForm" class="d-flex flex-column">
    <mat-form-field appearance="fill" class="flex-fill p-2">
      <mat-label>Contraseña</mat-label>
      <input  matInput formControlName="password" [type]="hide ? 'password' : 'text'" autocomplete="off" required>
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <fa-icon [icon]="(hide ? faEye : faEyeSlash)"></fa-icon>  
      </button>
      
      <mat-error *ngIf="isInValidField('password')">
        <ng-container *ngIf="passwordForm.get('password').hasError('minlength')">
          Contraseña debe tener almenos {{passwordForm.get('password').errors.minlength.requiredLength}} caracteres
        </ng-container>
        
        <ng-container *ngIf="passwordForm.get('password').hasError('required')">
          Contraseña es requerida
        </ng-container>
        
        <ng-container *ngIf="passwordForm.get('password').hasError('incorrect')">
          Las contraseñas no coinciden
        </ng-container>
      </mat-error>
      
    </mat-form-field>
      
    <mat-form-field appearance="fill" class="flex-fill p-2">
      <mat-label>Confirmar contraseña</mat-label>
      <input  matInput formControlName="confirmPassword" [type]="hideConfPass ? 'password' : 'text'" autocomplete="off" required>
      <button type="button" mat-icon-button matSuffix (click)="hideConfPass = !hideConfPass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <fa-icon [icon]="(hideConfPass ? faEye : faEyeSlash)"></fa-icon>  
      </button>
    
      <mat-error *ngIf="isInValidField('confirmPassword')">
        <ng-container *ngIf="passwordForm.get('password').hasError('required')">
          Confirmación Contraseña es requerida
        </ng-container>

        <ng-container *ngIf="passwordForm.get('password').hasError('incorrect')">
          Las contraseñas no coinciden
        </ng-container>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="confirm-dialog">
  <button class="mat-raised-button btn btn-ligth" (click)="close()">Cancelar</button>
  <button class="mat-raised-button btn btn-success" (click)="confirm()">Guardar</button>
</mat-dialog-actions>
