<mat-card class="p-4">
  <h5 class="mb-3">Liquidación desde el {{fromDate | dateMoment:"DD [de] MMMM [de] YYYY" }} al {{ toDate | dateMoment:"DD [de] MMMM [de] YYYY" }}</h5>
  <mat-card-content> 
    <div class="example-container mat-elevation-z8">
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="legajo" [sticky]="isSticky(stickyColumns, 'legajo')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'legajo')"> Legajo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.employee.enrollment}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="funcion" [sticky]="isSticky(stickyColumns, 'funcion')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'funcion')"> Función </mat-header-cell>
          <mat-cell *matCellDef="let element">  {{element.employee.function}}  </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="objetivo" [sticky]="isSticky(stickyColumns, 'objetivo')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'objetivo')"> Objetivo </mat-header-cell>
          <mat-cell *matCellDef="let element"> ---  </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="dotacion" [sticky]="isSticky(stickyColumns, 'dotacion')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'dotacion')" class="employee-cell"> Dotación </mat-header-cell>
          <mat-cell *matCellDef="let element" class="employee-cell" (mouseover)="overCell=element" (mouseout)="overCell=false" 
          [ngStyle]="{'z-index': overCell === element ? '150': ''}"> 
            <ng-template #popTitle><b>{{element.employee.lastName}}</b> {{element.employee.firstName}}</ng-template>
            <ng-template #popContent>
              <div class="d-flex pop-content-body">
                <img [src]="element.employee.avatar" alt="" *ngIf="element.employee.avatar" class="mr-2">
 
                <div>
                  <div>
                    <span class="font-weight-bold">FUNCIÓN: </span><span>{{element.employee.function}}</span>
                  </div>
                  <div>
                    <span class="font-weight-bold">DNI: </span><span>{{element.employee.dni}}</span>
                  </div>
                  <div>
                    <span class="font-weight-bold">CUIL: </span><span>{{element.employee.cuilPrefix}} - {{element.employee.cuilDni}} - {{element.employee.cuilSufix}}</span>
                  </div>
                  <div>
                    <span class="font-weight-bold">ART: </span><span>{{element.employee.art}}</span>
                  </div>
                </div>
              </div>
            </ng-template>
            <div
              class="mr-2"
              [ngbPopover]="popContent" [popoverTitle]="popTitle"
              triggers="mouseenter:mouseleave" #p1="ngbPopover"
            >
              {{element.employee.lastName}} - {{element.employee.firstName}} 
            </div>
          </mat-cell>
        </ng-container>
        
        <!-- horas -->
        <ng-container matColumnDef="hs_diurnas" [sticky]="isSticky(stickyColumns, 'hs_diurnas')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'hs_diurnas')"> HS Diurnas </mat-header-cell>
          <mat-cell *matCellDef="let element" class="text-center"> {{element.total_by_hours.signed.by?.day}} </mat-cell>
        </ng-container>        
        <ng-container matColumnDef="hs_nocturnas" [sticky]="isSticky(stickyColumns, 'hs_nocturnas')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'hs_nocturnas')"> HS Nocturnas </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.total_by_hours.signed.by?.night}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="hs_total" [sticky]="isSticky(stickyColumns, 'hs_total')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'hs_total')"> Total horas </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.total_by_hours.signed.total}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="hs_ex_total" [sticky]="isSticky(stickyColumns, 'hs_ex_total')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'hs_ex_total')"> Total Extra </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="badge p-3 badge-danger" *ngIf="element.total_by_hours.signed.extras > 0">
              {{element.total_by_hours.signed.extras}}hs. 
            </span>
            <ng-container *ngIf="element.total_by_hours.signed.extras === 0">
              {{element.total_by_hours.signed.extras}}hs. 
            </ng-container>
          </mat-cell>
        </ng-container>
        

        <ng-container matColumnDef="viaticos" [sticky]="isSticky(stickyColumns, 'viaticos')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'viaticos')"> Viáticos </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.total_viaticos }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="feriados" [sticky]="isSticky(stickyColumns, 'feriados')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'feriados')"> Feriados </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="badge p-3 badge-feriado" *ngIf="element.total_by_hours.news.feriado > 0">
              {{ element.total_by_hours.news.feriado }}hs. 
            </span>
            <ng-container *ngIf="element.total_by_hours.news.feriado === 0">
              {{ element.total_by_hours.news.feriado }}hs. 
            </ng-container>

          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="capacitacion" [sticky]="isSticky(stickyColumns, 'capacitacion')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'capacitacion')"> Capacitación </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.total_by_hours.news.capacitaciones }}hs. </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="lic_jus" [sticky]="isSticky(stickyColumns, 'lic_jus')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'lic_jus')"> Licencias Justificadas </mat-header-cell>
          <mat-cell *matCellDef="let element" class="lic-jus-cell"> 
            <span class="badge p-3 text-white badge-lic-justificada" *ngIf="element.total_by_hours.news.lic_justificada > 0">
              {{ element.total_by_hours.news.lic_justificada }}hs. 
            </span>
            <ng-container *ngIf="element.total_by_hours.news.lic_justificada === 0">
              {{element.total_by_hours.news.lic_justificada}}hs.
            </ng-container>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="aus_no_jus" [sticky]="isSticky(stickyColumns, 'aus_no_jus')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'aus_no_jus')"> Ausencias no Justificadas </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="badge p-3 text-white badge-lic-no-justificada" *ngIf="element.total_by_hours.news.lic_no_justificada > 0">
              {{ element.total_by_hours.news.lic_no_justificada }}hs. 
            </span>
            <ng-container *ngIf="element.total_by_hours.news.lic_no_justificada === 0">
              {{element.total_by_hours.news.lic_no_justificada}}hs.
            </ng-container>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="suspencion" [sticky]="isSticky(stickyColumns, 'suspencion')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'suspencion')"> Suspención </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="badge p-3 text-white badge-suspension" *ngIf="element.total_by_hours.news.suspension > 0">

              {{ element.total_by_hours.news.suspension }}hs.
            </span>
            <ng-container *ngIf="element.total_by_hours.news.suspension === 0">
              {{element.total_by_hours.news.suspension}}hs.
            </ng-container>
          </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="adelantos" [sticky]="isSticky(stickyColumns, 'adelantos')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'adelantos')"> Adelantos </mat-header-cell>
          <mat-cell *matCellDef="let element"> $ {{ element.total_of_news.adelanto_import }} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="vacaciones" [sticky]="isSticky(stickyColumns, 'vacaciones')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'vacaciones')"> Vacaciones </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="badge p-3 badge-vacaciones" *ngIf="element.total_of_news.vaciones_by_days > 0">
              {{ element.total_of_news.vaciones_by_days }} días 
            </span>
            <ng-container *ngIf="element.total_of_news.vaciones_by_days === 0">
              {{element.total_of_news.vaciones_by_days}} días
            </ng-container>
          </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="lic_sin_sueldo" [sticky]="isSticky(stickyColumns, 'lic_sin_sueldo')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'lic_sin_sueldo')"> Licencia sin goce de sueldo </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="badge p-3 badge-lic-sin-sueldo" *ngIf="element.total_of_news.lic_sin_sueldo_by_days > 0">
              {{ element.total_of_news.lic_sin_sueldo_by_days }} días 
            </span>
            <ng-container *ngIf="element.total_of_news.lic_sin_sueldo_by_days === 0">
              {{element.total_of_news.lic_sin_sueldo_by_days}} días
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="art" [sticky]="isSticky(stickyColumns, 'art')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'art')"> Art </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="badge p-3 text-white badge-art" *ngIf="element.total_by_hours.news.art > 0">
              {{ element.total_by_hours.news.art }}hs. 
            </span>
            <ng-container *ngIf="element.total_by_hours.news.art === 0">
              {{ element.total_by_hours.news.art }}hs. 
            </ng-container>            
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="plus_resp" [sticky]="isSticky(stickyColumns, 'plus_resp')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'plus_resp')"> Plus por responsabilidad </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            $ {{ element.total_of_news.plus_responsabilidad }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="presentismo" [sticky]="isSticky(stickyColumns, 'presentismo')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'presentismo')"> Presentismo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.total_of_news.presentismo }}% </mat-cell>
        </ng-container>
        <ng-container matColumnDef="embargo" [sticky]="isSticky(stickyColumns, 'embargo')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'embargo')"> Embargo </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <ng-container *ngIf="element.total_of_news.embargo > 0">
              <fa-icon [icon]="faTimes"></fa-icon>
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="empleador" [sticky]="isSticky(stickyColumns, 'empleador')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'empleador')"> Empleador </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            {{ element.employee.employer }}
          </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="estado" [sticky]="isSticky(stickyColumns, 'estado')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'estado')"> Estado </mat-header-cell>
          <mat-cell *matCellDef="let element"> 

            <ng-container *ngIf="element.employee.status else noValue">

              <ng-template #popStatusTitle><b>{{element.employee.lastName}}</b> {{element.employee.firstName}}</ng-template>
              <ng-template #popStatusContent>
                <div class="d-flex pop-content-body">
                  <img [src]="element.employee.avatar" alt="" *ngIf="element.employee.avatar" class="mr-2">
                  
                  <!-- <div>
                    <div>
                      <span class="font-weight-bold">Estado: </span><span>{{element.currentStatus.concept.key}}</span>
                    </div>
                    <div>
                      <span class="font-weight-bold">Desde: </span><span>{{element.currentStatus.dateFrom | dateMoment:"DD [de] MMMM [del] YYYY"}}</span>
                    </div>
                    <div>
                      <span class="font-weight-bold">Observaciones: </span><span>{{element.currentStatus.observation}}</span>
                    </div>
                  </div> -->
                </div>
              </ng-template>
              
              <div class="mr-2" [ngbPopover]="popStatusContent" [popoverTitle]="popStatusTitle" triggers="mouseenter:mouseleave" #p2="ngbPopover" >
                {{ element.employee.status }}
              </div>
            </ng-container>
            
          </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="reporte" [sticky]="isSticky(stickyColumns, 'reporte')">
          <mat-header-cell *matHeaderCellDef (click)="toggleSticky(stickyColumns, 'reporte')"> Reporte </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
           <app-printer [data]="element" [fromDate]="fromDate" [toDate]="toDate"></app-printer>

          </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="employeeDetail">

            <mat-header-cell *matHeaderCellDef> Detalle </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <a mat-stroke-button class="btn btn-success btn-employee-detail" [routerLink]="[liquidationId, 'empleado', element.employee._id]" *appCan="['liquidation', 'employeeDetail']" placement="top" ngbTooltip="{{ element.employee.lastName }} {{ element.employee.firstName }}" target="_blank">
                <fa-icon [icon]="faUser"></fa-icon>
              </a>             
            </mat-cell>
        </ng-container>        
        
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: isSticky(stickyHeaders, 'header-1')"></mat-header-row>
    
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleRowSticky(row.employee._id)" [ngClass]="{'active-row': stickyRows.includes(row.employee._id)}" [ngStyle]="(stickyRows.length ? stickyRowsStyle[stickyRows.indexOf(row.employee._id)]: '')"></mat-row>
    
      </mat-table>
    </div>

    <div class="handle-col-by-buttons">
      <!-- <button mat-stroke-button class="btn btn-secondary mr-2" (click)="toggleColumn('funcion')"> Función </button>
      <button mat-stroke-button class="btn btn-secondary mr-2" (click)="toggleColumn('objetivo')"> Objetivo </button>
      <button mat-stroke-button class="btn btn-secondary mr-2" (click)="toggleColumn('capacitacion')"> Capacitación </button> -->
    </div>
  </mat-card-content>

  <div class="form-card pb-0 d-flex align-items-center justify-content-end">
    <a mat-stroked-button class="btn btn-light mr-2" [routerLink]="['/dashboard/liquidacion/generar']" *ngIf="!isLoading" (click)="isLoading = !isLoading">Volver</a>
    <button mat-stroke-button class="btn btn-success mr-2" (click)="exportToExcel()"> 
      <fa-icon [icon]="faFileExcel"></fa-icon>
      Exportar 
    </button>
    <fa-icon [icon]="faSpinner" [spin]="true" size="2x" *ngIf="isLoading"></fa-icon>
  </div>
</mat-card>

<ng-template #noValue>
  ----
</ng-template>