<mat-card>
  <h5>Liquidación </h5>
  <mat-card-content>
    <div class="d-flex">
      <div class="w-50">    
        <ngb-datepicker #dp 
          (dateSelect)="onDateSelection($event)" 
          [displayMonths]="2" 
          [dayTemplate]="t" 
          outsideDays="hidden" 
          [startDate]="initCalendar" class="custom-datepicker-style w-100">
        </ngb-datepicker>

        <ng-template #t let-date let-focused="focused">
          <span class="custom-day"
            [class.focused]="focused"
            [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>
      </div>
      <div class="w-50">
        <button mat-stroked-button class="btn btn-primary" (click)="buildLiquidationSchema()" *ngIf="!isLoading">Generar liquidación</button>
        <fa-icon [icon]="faSpinner" [spin]="true" size="2x" *ngIf="isLoading"></fa-icon>
      </div>
    </div>

  </mat-card-content>

</mat-card>
