<mat-card>
  <mat-card-header>
    <h5>Viendo objectivo {{ period.objective.name}}</h5>
  </mat-card-header>
  <mat-card-content style="padding: 0 15px;">
    
    <div class="row row-cols-7">
      <ng-container *ngFor="let week of weeks">
        <div *ngFor="let weekDay of week.week" class="col" (click)="openDayDialog(weekDay)">
          
          <div class="position-relative w-100 date-container" [ngClass]="{'is-today': toDay.isSame(weekDay.day.date, 'date')}">
            <div class="short-date-format">
              {{weekDay.day.date | dateMoment:"DD/MM":"YYYY-MM-DD"}}
            </div>
            <div class="long-date-format">
              {{weekDay.day.date | dateMoment:"DD MMM YYYY":"YYYY-MM-DD"}}
            </div>
          </div>
          <ng-container *ngIf="weekDay.day.dayEvents.length">
            <div class="d-flex">
              <div *ngFor="let dayEvent of weekDay.day.dayEvents" class="m-1">
                <ng-container *ngIf="dayEvent.events.length">
                  <app-employee-indicator [employee]="dayEvent.employee" [events]="dayEvent.events"></app-employee-indicator>
                </ng-container>
              </div>
            </div>

          </ng-container>
        </div>
      </ng-container>
    </div>
  </mat-card-content>

  <div class="form-card pt-3 pb-0 d-flex align-items-center justify-content-end">
    
    <app-back-button class="ml-1 mr-1"></app-back-button>

    <a mat-stroked-button class="btn btn-warning ml-1 mr-1" [routerLink]="['/dashboard/agendas-v2/planificacion/', period._id]" *appCan="['schedule', 'create']">
      <fa-icon [icon]="faCalendarAlt"></fa-icon> Planificación
    </a>
    <!-- <a mat-stroked-button class="btn btn-warning btn-sm ml-1 mr-1" [routerLink]="['/dashboard/agendas-v2/', element._id, 'editar', period._id]" *appCan="['schedule', 'update']">
      Editar
    </a> -->
    <app-employee-events-print [periodId]="period._id">
      <fa-icon [icon]="faPrint"></fa-icon> Imprimir
    </app-employee-events-print>
  </div>

</mat-card>
