<mat-card>
  <mat-card-header>
    <h5>Viendo objectivo {{ period.objective.name}}</h5>
  </mat-card-header>
  <mat-card-content style="padding: 0 15px;">
    
    <div class="row row-cols-7">
      <ng-container *ngFor="let week of weeks">
        <app-day *ngFor="let weekDay of week.week" 
                  class="col d-flex flex-column" 
                  (click)="openDayDialog(weekDay)"
                  [toDay]="toDay"
                  [date]="weekDay.day.date"
                  [dayEvents]="getListWithEvents(weekDay.day.dayEvents)"
                  ></app-day>
      </ng-container>
    </div>
  </mat-card-content>

  <div class="form-card pt-3 pb-0 d-flex align-items-center justify-content-end">
    
    <app-back-button class="ml-1 mr-1"></app-back-button>

    <a mat-stroked-button class="btn btn-warning ml-1 mr-1" [routerLink]="['/dashboard/agendas-v2/planificacion/', period._id]" *appCan="['schedule', 'create']">
      <fa-icon [icon]="faCalendarAlt"></fa-icon> Planificación
    </a>
    <!-- <a mat-stroked-button class="btn btn-warning btn-sm ml-1 mr-1" [routerLink]="['/dashboard/agendas-v2/', element._id, 'editar', period._id]" *appCan="['schedule', 'update']">
      Editar
    </a> -->
    <app-employee-events-print [periodId]="period._id">
      <fa-icon [icon]="faPrint"></fa-icon> Imprimir
    </app-employee-events-print>
  </div>

</mat-card>
