@import '~bootstrap/scss/mixins'

.row-cols-7
  @include row-cols(7)
  &.by-week:not(.active-week)
    display: none!important
  &.by-week
    height: 100%
    .col
      height: 100%!important

  .col
    height: 10rem
    border: 1px solid #e2e2e2
    padding: 2px
    &:nth-child(1)
      border-top-left-radius: 5px
    &:nth-child(7)
      border-top-right-radius: 5px
    &:nth-child(29)
      border-bottom-left-radius: 5px
    &:nth-last-child(1)
      border-bottom-right-radius: 5px
