<mat-toolbar>
  <div class="container-header">
    <div class="logo-container">
      <button mat-button (click)="toggleSidebar()">
        <mat-icon>reorder</mat-icon>
      </button>
      <a mat-button [routerLink]="['/dashboard/home']">
        <img src="assets/img/logo-ptp.png" class="icon-navbar">
        PTP Seguridad
      </a>
    </div>
    <div class="submenu-nav">
      <router-outlet name="header-top"></router-outlet>
    </div>
    <div class="top-menu">
      <button mat-button [matMenuTriggerFor]="menu" class="profile-button">
        <img [src]="currentUser.profile?.avatar" alt="">
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item [routerLink]="['/auth/reset-password']">Cambiar contraseña</a>
        <button mat-menu-item (click)="logout()">Salir</button>
      </mat-menu>
    </div>

  </div>
</mat-toolbar>
