<mat-card>

  <mat-card-header>
    <mat-card-title>Agendas</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div class="cal-container">
      <ng-container *ngFor="let calendar of calendarList.docs">

        <div class="cal-item" (click)="showCalendar(calendar.schedule.objective._id); $event.stopPropagation();">
          <div class="cal-content" [@expandCalendar]="(_idCalendar === calendar.schedule.objective._id) ? 'expanded': 'collapsed'">
            <app-calendar [calendar]="calendar" [isShow]="(_idCalendar === calendar.schedule.objective._id)" (exitFullScreenEvent)="closeCalendar();$event.stopPropagation();"></app-calendar>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-card-content>

</mat-card>
