<mat-card>

  <mat-card-header>
    <div class="w-100 d-flex align-items-center justify-content-between">
      <mat-card-title>Agendas</mat-card-title>
      <div class="d-flex align-items-center justify-content-center">
        <button mat-button class="btn btn-primary text-white mr-2 btn-width-pag" (click)="previousSchedule()" [disabled]="disablePrevSchedule"> 
          <div class="d-flex align-items-center justify-content-center">
            <ng-container *ngIf="!loadingLeft">
              <fa-icon [icon]="faAngleLeft"></fa-icon>
              <div class="ml-2">anterior</div>
            </ng-container>
            
            <fa-icon [icon]="faSpinner" [spin]="true" size="1x" *ngIf="loadingLeft"></fa-icon>
          </div>
        </button>
        <div class="mr-2">
          página {{ calendarList.page }} de {{ calendarList.pages }}
        </div>
        <button mat-button class="btn btn-primary text-white btn-width-pag" (click)="nextSchedule()" [disabled]="disableNextSchedule">
          <div class="d-flex align-items-center justify-content-center">
            <ng-container *ngIf="!loadingRight">
              <div class="mr-2">
                siguiente
              </div>
              <fa-icon [icon]="faAngleRight"></fa-icon>
            </ng-container>
            <fa-icon [icon]="faSpinner" [spin]="true" size="1x" *ngIf="loadingRight"></fa-icon>
          </div>
        </button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>

    <div class="cal-container">
      <ng-container *ngFor="let calendar of calendarList.docs; let calendaIndex = index">

        <div class="cal-item" [class.position-relative]="!(_activeCalendar === calendaIndex)">
          <div class="cal-content"
            [@expandCalendar]="(_activeCalendar === calendaIndex) ? 'expanded': 'collapsed'"
            (@expandCalendar.done)="triggerEventCollapse(calendaIndex)"
            >

            <app-calendar
            [isShow]="(_activeCalendar === calendaIndex)"
            [calendar]="calendar"
            [collapseEvents]="_activeCalendarEvent === calendaIndex ? 'collapsed' : 'expanded'"
            (exitFullScreenEvent)="_activeCalendar = -1"
            (previousPeriodEvent)="previousPeriod($event)"
            (nextPeriodEvent)="nextPeriod($event)"
            (showCalendarEvent)="activeCalendar(calendaIndex)"
            (deletePeriodEvent)="deletePeriod($event)"></app-calendar>
          </div>

        </div>
      </ng-container>
    </div>
  </mat-card-content>

</mat-card>
