<div class="position-relative w-100 date-container" [ngClass]="{'is-today': toDay.isSame(date, 'date')}">
  <div class="short-date-format">
    {{date | dateMoment:"DD/MM":"YYYY-MM-DD"}}
  </div>
  <div class="long-date-format">
    {{date | dateMoment:"DD MMM YYYY":"YYYY-MM-DD"}}
  </div>
</div>
<ng-container *ngIf="events.length">
  
  <div class="position-relative d-flex flex-grow-1 align-items-end pb-3 indicators-container" [class.by-week]="byMonth === 'no'">
    <ng-container *ngFor="let dayEvent of events">
      <ng-container *ngIf="dayEvent.events.length">
        <ng-container *ngTemplateOutlet="byMonth === 'yes' ? displayOnlyIndicator : displayIndicatorWithSch; context: dayEvent">
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="byMonth === 'yes' && events.length > 6">
      <div class="more-to-show"> +{{ events.length - 6 }}</div>
    </ng-container>
  </div>

</ng-container>

<ng-template #displayOnlyIndicator let-employee="employee" let-events="events">
  <app-employee-indicator [employee]="employee" 
                          [events]="events"
                          class="employee-indicator">
  </app-employee-indicator>
</ng-template>

<ng-template #displayIndicatorWithSch let-employee="employee" let-events="events">
  <div class="d-flex align-items-center w-100 justify-content-between">
    <app-employee-indicator [employee]="employee" 
                            [events]="events"
                            class="employee-indicator">
    </app-employee-indicator>
    <div *ngIf="byMonth === 'no'">
      <div class="d-flex mt-1 mb-1">
        <span class="badge badge-success ml-1 mr-1">
          {{ events[0].fromDatetime | date:"HH:mm"}}hs
        </span>
        <span class="badge badge-warning ml-1 mr-1">
          {{ events[0].toDatetime | date:"HH:mm"}}hs
        </span>
      </div>
      <div class="d-flex mt-1 mb-1" *ngIf="events[1]">
        <span class="badge badge-success ml-1 mr-1">
          {{ events[0].fromDatetime | date:"HH:mm"}}hs
        </span>
        <span class="badge badge-warning ml-1 mr-1">
          {{ events[0].toDatetime | date:"HH:mm"}}hs
        </span>
      </div>
    </div>
  </div>
</ng-template>