@import 'styles/_variables'

:host
  display: block
  margin: 0
  padding: 0

.dashboard-wrapper
  width: 100%
  display: flex
  flex-direction: row
  position: relative
  .sidebar
    position: absolute
    width: $sidebar-width

  .wrapper-container
    position: absolute
    width: calc(100% - #{$sidebar-width})
    height: calc(100vh - #{$header-bar-heigth})
    max-height: calc(100vh - #{$header-bar-heigth})
    padding: 20px
    box-sizing: border-box

