<app-header (sidebarToggleEvent)="displaySidebar($event)"></app-header>

  <div class="dashboard-wrapper">

    <div class="sidebar" [ngClass]="{'visible': showSidebar, 'hidden': !showSidebar}" >
      <app-sidebar></app-sidebar>
    </div>
    <div class="wrapper-container pt-3 pl-3 pr-3 pb-0" [ngClass]="{'midwidth': showSidebar, 'fullwidth': !showSidebar}">
      
      
      <app-loading-indicator *ngIf="isLoading$ | async"></app-loading-indicator>
      <router-outlet></router-outlet>
    </div>

  </div>
<app-footer></app-footer>
