
<div class="w-100">

  <div class="w-100 rows-events d-flex">
    <div class="w-25 col-employee-visualization">
    </div>
    <div class="w-75 col-week-visualization">
      <div class="date-events" [ngStyle]="{left: xAxis}">
        <div class="week" *ngFor="let week of periodBuilder">
          <div class="day" *ngFor="let day of week">
              <div class="text-right" style="font-size: 0.8rem">
                {{ day | date:"MMM - y" | titlecase}}
              </div>
              <div class="text-center" style="font-size: 1.3rem">
                {{ day | date:"EEEE d" | titlecase}}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 rows-events d-flex" *ngFor="let shift of period?.shifts; let shiftIndex = index">

    <div class="w-25 col-employee-visualization">
      <app-employee-actions
        [employee]="shift.employee"
        [events]="shift.events"
        (removeEmployeeEvent)="removeEmployee(shiftIndex)"
      ></app-employee-actions>
    </div>

    <div class="w-75 col-week-visualization">

      <app-calendar-inline
        [builder]="periodBuilder"
        [shiftEmployee]="shift.employee"
        [shiftEvents]="shift.events"
        [xAxis]="xAxis"
        (updatePeriodShiftsEvent)="updatePeriodShifts($event, shiftIndex)">
      </app-calendar-inline>

    </div>
  </div>

  <div class="w-100 d-flex mt-2">
    <div class="w-25">
      <button mat-stroked-button class="btn btn-primary" (click)="addEmployee()">Agregar empleado</button>
    </div>
    <div class="w-75">
      <div class="w-100 d-flex align-items-center justify-content-center">
        <button (click)="prevWeek()" mat-stroked-button class="btn btn-light mr-2" [disabled]="!(xAxisPage > 0)"> Anterior </button>
        <button (click)="nextWeek()" mat-stroked-button class="btn btn-light" [disabled]="!(xAxisPage < (periodBuilder.length - 1))"> Siguiente </button>
      </div>
      <div class="w-100 d-flex align-items-center justify-content-center mt-2">
        Semana {{ xAxisPage + 1}} de {{ periodBuilder.length }}
      </div>
    </div>
  </div>
</div>


<div class="action-stepper">
  <!--button mat-stroked-button matStepperPrevious>Atrás</button-->
  <button mat-stroked-button class="btn btn-success" (click)="saveShifts()">Guardar</button>
  <fa-icon [icon]="faSpinner" [spin]="true" size="2x" *ngIf="isLoading"></fa-icon>
</div>
