
<div class="w-100 h-100">
  <div class="w-100 text-right mb-2">
    <button mat-stroked-button class="btn btn-warning btn-sm" (click)="changePeriodDates()"> 
      <fa-icon [icon]="faCalendarAlt"></fa-icon>
    </button>
  </div>
  <div class="w-100 list-events">

    <div class="w-100 rows-events d-flex calendar-header">
      <div class="w-25 col-employee-visualization">
        <div class="d-flex align-items-center justify-content-center w-100 h-100 pl-2 pr-2">

          <mat-form-field class="w-100 mr-2">
            <input type="text"
            placeholder="Seleccionar empleado"
            aria-label="Number"
            matInput
            [formControl]="shiftFilter"
            [matAutocomplete]="auto">
            <button type="button" mat-icon-button matSuffix (click)="clearFilterOption()">
              <fa-icon [icon]="faTimes"></fa-icon>
            </button>

            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions; let shiftIndex = index" [value]="option">
                {{option.employee.firstName}} {{ option.employee.lastName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button mat-stroked-button class="btn btn-sm btn-primary" (click)="addEmployee()">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </div>
      </div>
      <div class="w-75 col-week-visualization">
        <div class="date-events" [ngStyle]="{left: xAxis}">
          <div class="week" *ngFor="let week of periodBuilder">
            <div class="day" *ngFor="let day of week">
                <div class="text-right month-year-indicator pl-1 pr-1">
                  {{ day | date:"MMM - y" | titlecase}}
                </div>
                <div class="text-center day-num-indicator">
                  {{ day | date:"EEEE d" | titlecase}}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="list">
      <div class="w-100 rows-events d-flex" *ngFor="let shift of period?.shifts; let shiftIndex = index">

        <div class="w-25 col-employee-visualization">
          <app-employee-actions
            [employee]="shift.employee"
            [events]="shift.events"
            (removeEmployeeEvent)="removeEmployee(shiftIndex)"
          ></app-employee-actions>
        </div>

        <div class="w-75 col-week-visualization">

          <app-calendar-inline
            [builder]="periodBuilder"
            [shiftEmployee]="shift.employee"
            [shiftEvents]="shift.events"
            [shiftOtherEvents]="shift.otherEvents"
            [xAxis]="xAxis"
            (updatePeriodShiftsEvent)="updatePeriodShifts($event, shiftIndex)">
          </app-calendar-inline>

        </div>
      </div>
    </div>
  </div>

  <div class="w-100 d-flex mt-2">
    <div class="w-25">
      <!-- <button mat-stroked-button class="btn btn-primary" (click)="addEmployee()">Agregar empleado</button> -->
    </div>
    <div class="w-75">
      <div class="w-100 d-flex align-items-center justify-content-center">
        <button (click)="prevWeek()" mat-stroked-button class="btn btn-light mr-2" [disabled]="!(xAxisPage > 0)"> Anterior </button>
        <button (click)="nextWeek()" mat-stroked-button class="btn btn-light" [disabled]="!(xAxisPage < (periodBuilder.length - 1))"> Siguiente </button>
      </div>
      <div class="w-100 d-flex align-items-center justify-content-center mt-2">
        Semana {{ xAxisPage + 1}} de {{ periodBuilder.length }}
      </div>
    </div>
  </div>
</div>


<div class="action-stepper">
  <!--button mat-stroked-button matStepperPrevious>Atrás</button-->
  <button mat-stroked-button class="btn btn-success" (click)="saveShifts()" *ngIf="!isLoading">Guardar</button>
  <fa-icon [icon]="faSpinner" [spin]="true" size="2x" *ngIf="isLoading"></fa-icon>
</div>
