:host
  display: block
  .item
    border: 1px solid black
  .grid-cotainer
    display: grid
    grid-template-columns: repeat(31, minmax(150px, 1fr))

  .col-week-visualization
    position: relative
    overflow: hidden
    height: 44px

  .date-events
    position: absolute
    left: 0
    transition: left 0.7s ease-out
    width: 100%
    display: flex
    flex-wrap: nowrap
    .week
      width: 100%
      display: flex
      flex: 0 0 100%
      .day
        width: calc(100% / 7)
        height: 44px
        border: 1px solid black
