@import 'styles/_variables'

:host
  display: block
  height: calc(100% - 10px)
  position: relative
  .list-events
    max-height: calc(100% - 48px)
    overflow: auto
    box-shadow: 0px 10px 13px -7px #000000

    .indicator-color-baja
      color: $color-baja
    .indicator-color-lic-justificada
      color: $color-lic-justificada
    .indicator-color-feriado
      color: $color-feriado
    .indicator-color-suspension
      color: $color-suspension
    .indicator-color-vacaciones
      color: $color-vacaciones
    .indicator-color-lic-sin-sueldo
      color: $color-lic-sin-sueldo
    .indicator-color-lic-no-justificada
      color: $color-lic-no-justificada
    .indicator-color-art
      color: $color-art

    .calendar-header
      position: sticky
      top: 0
      left: 0
      z-index: 99
      .col-week-visualization
        background-color: #fff
    .col-employee-visualization
      background-color: #fff
      border: 1px solid black
  .item
    border: 1px solid black
  .grid-cotainer
    display: grid
    grid-template-columns: repeat(31, minmax(150px, 1fr))

  .calendar-header .col-week-visualization
    height: 50px
  .col-week-visualization
    position: relative
    overflow: hidden
    height: 75px

  .date-events
    position: absolute
    left: 0
    transition: left 0.7s ease-out
    width: 100%
    display: flex
    flex-wrap: nowrap
    .week
      width: 100%
      display: flex
      flex: 0 0 100%
      .day
        width: calc(100% / 7)
        height: 50px
        border: 1px solid black
        &:hover .month-year-indicator
          opacity: 1
        .month-year-indicator
          font-size: 0.8rem
          opacity: 0
          transition: opacity .5s ease-out
        .day-num-indicator
          font-size: 1.3rem
