<div class="d-flex w-100">
  <div class="employee-list">
    <form [formGroup]="findEmployeeForm">
      <mat-form-field class="">
        <input type="text"
               placeholder="Agregar empleado"
               matInput
               formControlName="employee"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayEmployee">
          <mat-option *ngFor="let shift of filteredEmployees" [value]="shift">
            {{shift.employee.lastName}} {{shift.employee.firstName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <button class="btn btn-outline-primary" (click)="addEmployee()">
      Agregar
    </button>
  </div>
  <div></div>
</div>