<h5 mat-dialog-title>Templates</h5>

<mat-dialog-content>
  <mat-radio-group class="radio-group" aria-label="Select an option" [(ngModel)]="selectedTemplate">
    <mat-radio-button class="radio-button" *ngFor="let template of templates;" [value]="template">
      <div class="d-flex align-items-center">
        <div class="radio-label h6 mb-0">
          {{ template.name }}
        </div>
        <div class="ml-2 mr-2" *ngFor="let sch of template.schedule">
          <h5>
            {{sch.day}}
          </h5>
          <div *ngIf="!!sch.firstTime.from.hour">
            <span class="badge badge-success h6">
              {{sch.firstTime.from.hour | leadingZero: 2}}:{{sch.firstTime.from.minute | leadingZero: 2}}hs. 
            </span>
            - 
            <span class="badge badge-warning h6">
              {{sch.firstTime.to.hour | leadingZero: 2}}:{{sch.firstTime.to.minute | leadingZero: 2}}hs.
            </span>
          </div>
          
          <div *ngIf="!!sch.secondTime.from.hour">
            <span class="badge badge-success h6">
              {{sch.secondTime.from.hour | leadingZero: 2}}:{{sch.secondTime.from.minute | leadingZero: 2}}hs. 
            </span>
            - 
            <span class="badge badge-warning h6">
              {{sch.secondTime.to.hour | leadingZero: 2}}:{{sch.secondTime.to.minute | leadingZero: 2}}hs.
            </span>

          </div>
        </div>
      </div>
    </mat-radio-button>
  </mat-radio-group>
  
</mat-dialog-content>

<mat-dialog-actions class="confirm-dialog">
  <button class="mat-raised-button" (click)="close()">Cancelar</button>
  <button class="mat-raised-button bg-success text-white" (click)="confirm()">Seleccionar</button>
</mat-dialog-actions>
