:host
  display: block
  height: 100%
  width: 100%
  background-color: #ffffff
  .calendar-header
    height: 32px
    transition: height 0.3s ease-out
    &.expanded-calendar
      height: 70px
      .period-title
        opacity: 1

    .period-title
      opacity: 0
      transition: opacity 0.3s ease-out 0.3s


  .calendar-header.expanded-calendar ~ .calendar-container
    height: calc(100% - 70px)
  .calendar-header ~ .calendar-container
    height: calc(100% - 32px)
  .calendar-container
    transition: height 0.3s ease-out
    display: grid
    width: 100%
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    grid-template-rows: 20px 1fr auto 1fr auto 1fr auto 1fr auto 1fr auto 1fr
    grid-template-areas:  "cheader cheader cheader cheader cheader cheader cheader" "item1 item1 item1 item1 item1 item1 item1" "desc1 desc1 desc1 desc1 desc1 desc1 desc1" "item2 item2 item2 item2 item2 item2 item2" "desc2 desc2 desc2 desc2 desc2 desc2 desc2" "item3 item3 item3 item3 item3 item3 item3" "desc3 desc3 desc3 desc3 desc3 desc3 desc3" "item4 item4 item4 item4 item4 item4 item4" "desc4 desc4 desc4 desc4 desc4 desc4 desc4" "item5 item5 item5 item5 item5 item5 item5" "desc5 desc5 desc5 desc5 desc5 desc5 desc5" "item6 item6 item6 item6 item6 item6 item6" "desc6 desc6 desc6 desc6 desc6 desc6 desc6"
    .calendar-day
      border: 1px solid black
      // height: 100px
