<div class="d-flex justify-content-between">

  <h2>{{ schedule.period.docs[0].objective.name }} </h2>
  <h2 *ngIf="isShow">Período: {{ schedule.period.docs[0].fromDate | dateFormat:"MMMM"}} / {{ schedule.period.docs[0].toDate | dateFormat:"MMMM" }} </h2>
  <h3 *ngIf="isShow">Año: {{ schedule.period.docs[0].fromDate | dateFormat:"YYYY"}} / {{ schedule.period.docs[0].toDate | dateFormat:"YYYY" }} </h3>
  <button class="btn btn-sm" (click)="exitFullScreen($event)" *ngIf="isShow">
    <fa-icon [icon]="faTimesCircle"></fa-icon>
  </button>
</div>
  <div class="calendar-container">
    <!-- header -->
    <div class="calendar-header text-center">Domingo</div>
    <div class="calendar-header text-center">Lunes</div>
    <div class="calendar-header text-center">Martes</div>
    <div class="calendar-header text-center">Miércoles</div>
    <div class="calendar-header text-center">Jueves</div>
    <div class="calendar-header text-center">Viernes</div>
    <div class="calendar-header text-center">Sábado</div>

    <ng-container *ngFor="let day of schedule.days; let count = index">
      <div class="calendar-day d-flex align-items-start justify-content-end p-2" (click)="expandedDate = (expandedDate === day && isShow) ? null : day">
        <div class="day-indicator">
          {{ day | dateFormat:"D/M" }}
        </div>
      </div>
      <app-day
      [shifts]="schedule.period.docs[0].shifts"
      [day]="day"
      [dayIndex]="(count + 1)"
      [dayEventClass]="day == expandedDate ? 'expanded' : 'collapsed'"></app-day>
    </ng-container>
</div>
