<div class="calendar-header-box" [class.expanded-calendar]="isShow">

  <h2 class="m-0">{{ calendar.schedule.objective.name }} </h2>
  <div class="d-flex period-title" [ngClass]="{'justify-content-end': !calendar.period.docs.length, 'justify-content-between': calendar.period.docs.length}">

    <h2 class="m-0" *ngIf="isShow && calendar.period.docs.length">
      Período: {{ calendar.period.docs[0].fromDate | date:'MMMM yyyy'}} / {{ calendar.period.docs[0].toDate | date:"MMMM yyyy" }}
    </h2>
    <button mat-stroked-button class="btn btn-sm" (click)="exitFullScreen($event)" *ngIf="isShow">
      <fa-icon [icon]="faTimesCircle"></fa-icon>
    </button>
  </div>
</div>
<div class="calendar-container">
  <ng-container *ngIf="calendar.period.docs.length">
    <!-- header -->
    <div class="calendar-header d-flex align-items-center justify-content-center">
      {{!isShow ? ("Domingo" | slice:0:3) : "Domingo"}}
    </div>
    <div class="calendar-header d-flex align-items-center justify-content-center">
      {{!isShow ? ("Lunes" | slice:0:3) : "Lunes"}}
    </div>
    <div class="calendar-header d-flex align-items-center justify-content-center">
      {{!isShow ? ("Martes" | slice:0:3) : "Martes"}}
    </div>
    <div class="calendar-header d-flex align-items-center justify-content-center">
      {{!isShow ? ("Miércoles" | slice:0:3) : "Miércoles"}}
    </div>
    <div class="calendar-header d-flex align-items-center justify-content-center">
      {{!isShow ? ("Jueves" | slice:0:3) : "Jueves"}}
    </div>
    <div class="calendar-header d-flex align-items-center justify-content-center">
      {{!isShow ? ("Viernes" | slice:0:3) : "Viernes"}}
    </div>
    <div class="calendar-header d-flex align-items-center justify-content-center">
      {{!isShow ? ("Sábado" | slice:0:3) : "Sábado"}}
    </div>

    <ng-container *ngFor="let day of calendar.days; let count = index">
      <div class="calendar-day d-flex align-items-start justify-content-end p-2 position-relative" (click)="expandedDate = (expandedDate === day && isShow) ? null : day">
        <div class="day-indicator">
          {{ day | date:"d/M" }}
        </div>
        <div class="events-day bg-success text-center" *ngIf="eventsByDay[count].length" [@expandEventDay]="collapseEvents">
          <div class="text-white" [@displayEventCount]="collapseEvents">
            {{ eventsByDay[count].length }}
          </div>
        </div>
      </div>
      <app-day
      [shifts]="eventsByDay[count]"
      [day]="day"
      [dayIndex]="(count + 1)"
      [dayEventClass]="day == expandedDate ? 'expanded' : 'collapsed'"></app-day>
    </ng-container>
  </ng-container>
  <!-- <ng-container *ngIf="!calendar.period.docs.length">
    No tiene periodos asignados!
  </ng-container> -->
</div>
