<div class="m-1 p-1 w-100">
  <div class="w-100 d-flex align-items-center justify-content-between">
    <div class="employee-fullname">
      {{ employee.firstName }} {{ employee.lastName }}
    </div>
    <div class="d-flex align-items-center">
      <div class="hours-counter-container mr-1">
        <div class="circle-indicator">
          {{ hoursTotal }}
        </div>
      </div>
      <!-- <button  mat-stroked-button class="btn btn-danger btn-sm mr-1" (click)="removeEmployee()">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
      <button  mat-stroked-button class="btn btn-primary btn-sm mr-2">
        <fa-icon [icon]="faCalendarAlt"></fa-icon>
      </button> -->
    </div>
  </div>
</div>
