/* You can add global styles to this file, and also import other style files */
@import 'styles/_variables'

@font-face
  src: url(assets/fonts/RobotoCondensed-Regular.ttf) format("opentype")
body
  margin: 0
  padding: 0
  background-color: #303030
  font-family: roboto

.wrapper
    width: 80%
    margin: auto
    @media (min-width: $xx-larger-devices) and (max-width: $xxx-larger-devices)
        min-width: calc(#{$xx-larger-devices} - 20px)
        max-width: calc(#{$xxx-larger-devices} - 20px)

    @media (min-width: $x-larger-devices) and (max-width: $xx-larger-devices)
        width: 90%
        min-width: calc(#{$x-larger-devices} - 20px)
        max-width: calc(#{$xx-larger-devices} - 20px)

    @media (min-width: $larger-devices) and (max-width: $x-larger-devices)
        min-width: calc(#{$larger-devices} - 20px)
        max-width: calc(#{$x-larger-devices} - 20px)

    @media (min-width: $medium-devices) and (max-width: $larger-devices)
        min-width: calc(#{$medium-devices} - 20px)
        max-width: calc(#{$larger-devices} - 20px)

    @media (min-width: $small-devices) and (max-width: $medium-devices)
        min-width: calc(#{$small-devices} - 20px)
        max-width: calc(#{$medium-devices} - 20px)

    @media (min-width: $x-small-devices) and (max-width: $small-devices)
        width: calc( 100% - 10px)
        min-width: calc(#{$x-small-devices} - 20px)
        max-width: calc(#{$small-devices} - 20px)

.mat-dialog-container
    max-height: 80vh!important

.cdk-global-scrollblock
    position: initial
    width: initial
    overflow: hidden


.mat-elevation-z8
  table
    width: 100%

.submenu-nav
  .is-active
    background-color: rgba(65, 122, 206, .8)
    color: #ffffff


// action column on tables list th / td
.action-col-th
  text-align: center!important

.action-col
  width: 1%
  white-space: nowrap
  text-align: center
  .mat-stroked-button
    width: 20px
    padding: 0
    margin: 0 2.5px
    min-width: 38px


// background colors
.bg-light
  background-color: $light-color

.bg-success
  background-color: $success-color

.bg-warning
  background-color: $warning-color

.bg-danger
  background-color: $danger-color

// text color
.text-white
  color: #ffffff

.text-danger
  color: $danger-color

::-webkit-scrollbar
  width: 6px
  background-color: #F5F5F5

::-webkit-scrollbar-thumb
  border-radius: 10px
  background-color: #ababaa

::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
  border-radius: 10px
  background-color: #F5F5F5

.d-flex
  display: flex

.align-items-start
  align-items: flex-start

.justify-content-between
  justify-content: space-between

.justify-content-end
  justify-content: flex-end

.text-right
  text-align: right

.text-center
  text-align: center

.text-left
  text-align: left

// form parts
.form-card
  text-align: right!important
  margin-bottom: 0px!important

// header buttons
.header-menu-button.active
  background-color: $s-link-bg
  color: #ffffff
