/* You can add global styles to this file, and also import other style files */
@import 'styles/_variables'
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

@font-face
  src: url(assets/fonts/RobotoCondensed-Regular.ttf) format("opentype")
body
  margin: 0
  padding: 0
  background-color: #303030
  font-family: roboto

.wrapper
    width: 80%
    margin: auto
    @media (min-width: $xx-larger-devices) and (max-width: $xxx-larger-devices)
        min-width: calc(#{$xx-larger-devices} - 20px)
        max-width: calc(#{$xxx-larger-devices} - 20px)

    @media (min-width: $x-larger-devices) and (max-width: $xx-larger-devices)
        width: 90%
        min-width: calc(#{$x-larger-devices} - 20px)
        max-width: calc(#{$xx-larger-devices} - 20px)

    @media (min-width: $larger-devices) and (max-width: $x-larger-devices)
        min-width: calc(#{$larger-devices} - 20px)
        max-width: calc(#{$x-larger-devices} - 20px)

    @media (min-width: $medium-devices) and (max-width: $larger-devices)
        min-width: calc(#{$medium-devices} - 20px)
        max-width: calc(#{$larger-devices} - 20px)

    @media (min-width: $small-devices) and (max-width: $medium-devices)
        min-width: calc(#{$small-devices} - 20px)
        max-width: calc(#{$medium-devices} - 20px)

    @media (min-width: $x-small-devices) and (max-width: $small-devices)
        width: calc( 100% - 10px)
        min-width: calc(#{$x-small-devices} - 20px)
        max-width: calc(#{$small-devices} - 20px)

.mat-dialog-container
    max-height: 80vh!important

.cdk-global-scrollblock
    position: initial
    width: initial
    overflow: hidden


.mat-elevation-z8
  table
    width: 100%

.submenu-nav
  .is-active
    background-color: #3a416d
    color: #ffffff


// action column on tables list th / td
.action-col-th
  text-align: center!important

.action-col
  width: 1%
  white-space: nowrap
  text-align: center
  .mat-stroked-button
    width: 20px
    padding: 0
    margin: 0 2.5px
    min-width: 38px

::-webkit-scrollbar
  width: 6px
  background-color: #F5F5F5

::-webkit-scrollbar-thumb
  border-radius: 10px
  background-color: #ababaa

::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
  border-radius: 10px
  background-color: #F5F5F5


// form parts
.form-card
  text-align: right!important
  margin-bottom: 0px!important

// header buttons
.header-menu-button.active
  background-color: $s-link-bg
  color: #ffffff


button:focus
  outline: none!important

a:focus, a:hover
  text-decoration: none!important

/******************Estilos para que el stepper abarque el 100% de su alto***********************/
.custom-stepper
  height: 100%
  flex-direction: row
  box-sizing: border-box
  display: flex

  mat-horizontal-stepper
    background: #ffffff
    flex: 1 1 100%
    box-sizing: border-box
    flex-direction: column
    display: flex
    max-width: 100%
    place-content: stretch flex-start
    align-items: stretch
    .mat-step-custom
      display: flex
      flex-direction: column
      flex: 1 1 100%

.container-fix-one
  display: flex
  flex: 1 1 100%!important
  .container-fix-two
    display: flex
    flex: 1 1 100%
    flex-direction: column
    position: relative
    .action-stepper
      position: absolute
      bottom: 0
      right: 0


.mat-horizontal-content-container
  height: 100%!important

.mat-horizontal-stepper-content
  height: 100%
  display: flex!important

/************************Fin estilos stepper*************************/

.mat-card-header-text
  margin: 0!important

mat-step-header
  &.mat-horizontal-stepper-header
    pointer-events: none !important

.btn-sm
  min-width: unset!important

.col-employee-visualization
  .mat-form-field-wrapper
    padding: 0!important
  .mat-form-field-underline
    bottom: 0!important