:host
  display: block
  margin-bottom: 1.34375rem
  .form-control-em
    max-height: 580px

  .employee-multi-container
    max-height: 550px
    overflow: auto

  .custom-employee-error
    position: absolute
    color: #f44336
    font-size: 75%
    top: 2.5rem

  .custom-employees-multi-error
    color: #f44336
    font-size: 75%
