<mat-card>
  <h5 class="title-card">
    Nuevo período
    <ng-container *ngIf="schedule">al objectivo {{ scheduleForm.get('objective').value.name }}</ng-container>
  </h5>

  <mat-card-content>

    <form [formGroup]="scheduleForm">
      <mat-form-field class="mr-2">
        <mat-select formControlName="objective">
          <mat-option *ngFor="let objective of objectives" [value]="objective">
            {{objective.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field class="mr-2">
        <mat-label>Desde</mat-label>
        <input matInput [matDatepicker]="pickerFrom" formControlName="fromDate"  (click)="pickerFrom.open()" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
        <mat-error *ngIf="isInValid('fromDate')">
          {{ scheduleForm.get('fromDate').errors.invalid }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mr-2">
        <mat-label>Hasta</mat-label>
        <input matInput [matDatepicker]="pickerTo" formControlName="toDate"  (click)="pickerTo.open()" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
        <mat-error *ngIf="isInValid('toDate')">
          {{ scheduleForm.get('toDate').errors.invalid }}
        </mat-error>
      </mat-form-field>

      <div class="employees-selection-container pb-2">
        <div class="d-flex justify-content-between align-items-center">
          <mat-form-field class="example-form-field">
            <mat-label>Nombre / Apellido</mat-label>
            <input matInput type="text" [formControl]="employeeFilter" autocomplete="off">
          </mat-form-field>
          <button class="btn btn-light" (click)="clearFilter()">
            <fa-icon [icon]="faTimes"></fa-icon>
          </button>
      
          <div>
            Seleccionados: {{ selectedEmployees.length }}
          </div>
        </div>
      
        <div class="list-container">
          <mat-selection-list (selectionChange)="selectionChangeHandler($event)">
            <mat-list-option *ngFor="let shift of employeesInShift"  [value]="shift" [style.display]="notMatchEmployeeList.includes(shift.employee._id) ? 'none' : 'block'" [selected]="selectedEmployeesIds.includes(shift.employee._id)">
              {{ shift.employee.firstName }} {{ shift.employee.lastName }}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </form>

  </mat-card-content>
  <div class="form-card pt-3 pb-0 d-flex align-items-center justify-content-end">
    <app-card-footer-buttons [saveBtn]="true" (submitEvent)="onSubmit()"></app-card-footer-buttons>
  </div>
</mat-card>
