<div class="p-2 position-relative h-100 d-flex day-conent justify-content-between"  [ngClass]="{'bg-disabled-date': !isInPeriod, 'bg-enable-date': isInPeriod}" [@expandEventTodayBg]="(isToday && collapseEvents === 'expanded') ? 'expanded' : 'collapsed'">
  <div class="day-indicator d-flex justify-content-between">
    <button *ngIf="isShow" (click)="openEvents()" class="btn-secondary btn-toggle-events" [@expandEventBtn]="(toggleEvents === 'expanded') ? 'up' : 'down'">
      <fa-icon [icon]="faAngleDown"></fa-icon>
    </button>
    <div class="p-1 d-flex align-items-center justify-content-end" [@expandEventToday]="(isToday && collapseEvents === 'collapsed') ? 'expanded' : 'collapsed'">
      {{ day | date:"d/M" }}
    </div>
  </div>
  <div class="events-day bg-success text-center" *ngIf="shifts.length && isInPeriod && (collapseEvents !== 'collapsed')" [@expandEventDay]="collapseEvents">
  </div>
  <ng-container *ngIf="shifts.length && (collapseEvents === 'collapsed')">
    <div class="d-flex align-items-start position-bottom" (click)="$event.stopPropagation()">    
      <div *ngFor="let shift of shifts; let sIndex = index" class="employee-indicator" ngbTooltip="{{shift.employee.lastName}} {{shift.employee.firstName}}" (click)="openDialog($event, sIndex)">      
        
        <app-load-ring [shift]="shift" [circuleDimRem]="circuleDimRem">
        <img [src]="shift.employee.avatar" alt="{{shift.employee.lastName}}{{shift.employee.firstName}}"  *ngIf="shift.employee.avatar">
        <div *ngIf="!shift.employee.avatar" class="initials-name" [ngClass]="{signed: shift.signed}">
          {{ shift.employee.lastName | firstLetter }} {{ shift.employee.firstName | firstLetter }}
        </div>        
        </app-load-ring>
      </div>
    </div>
  </ng-container>
</div>
