<div class="p-2 position-relative h-100 d-flex justify-content-end"  [ngClass]="{'bg-disabled-date': !isInPeriod, 'bg-enable-date': isInPeriod}" [@expandEventTodayBg]="(isToday && collapseEvents === 'expanded') ? 'expanded' : 'collapsed'">
  <div class="day-indicator">
    <div class="p-1 d-flex align-items-center justify-content-center" [@expandEventToday]="(isToday && collapseEvents === 'collapsed') ? 'expanded' : 'collapsed'">
      {{ day | date:"d/M" }}
    </div>
  </div>
  <div class="events-day bg-success text-center" *ngIf="shifts.length && isInPeriod && (collapseEvents !== 'collapsed')" [@expandEventDay]="collapseEvents">
    <!-- <div class="text-white" [@displayEventCount]="collapseEvents"> -->
      <!-- {{ events.length }} -->
      <!-- </div> -->
    </div>
    <ng-container *ngIf="shifts.length && (collapseEvents === 'collapsed')">
      <div class="d-flex align-items-center position-bottom" (click)="$event.stopPropagation()">
      
        <div *ngFor="let shift of shifts; let sIndex = index" class="employee-indicator" ngbTooltip="{{shift.employee.lastName}} {{shift.employee.firstName}}" (click)="openDialog(sIndex)">
        
          <img [src]="shift.employee.avatar" alt="" [ngClass]="{signed: shift.signed}">
          
        </div>
      </div>
    </ng-container>
</div>
