@import 'styles/_variables'

:host
  border: 1px solid black
  .bg-disabled-date
    background-color: #ebebeb
    .day-indicator
      opacity: 0.3
  .bg-enable-date:hover
    color: #fff
    background-color: rgb(58 65 109 / 0.7)

  .day-indicator
    position: relative
    z-index: 50
    .circule-date
      border: 2px solid $color-secondary
      border-radius: 50%
      height: 49.22px
      width: 49.22px
  .events-day
    position: absolute
    bottom: 0
    left: 0
    display: flex
    align-items: center
    justify-content: center
  
  .position-bottom
    position: absolute
    left: 0
    bottom: 0
    .employee-indicator
      margin: 0.25rem 0.10rem
      img
        max-width: 2.2rem
        max-height: 2.2rem
        border-radius: 50%
